{% extends 'baseLogin.html.twig' %}

{% block title %}Connecte toi !{% endblock %}

{% block body %}
 <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
              <div class="card mb-3">

                <div class="card-body pt-4 pb-2">
                    <div class="d-flex justify-content-center">
                        <a href="/" class="logo d-flex align-items-center w-auto">
                            <img src="assets/img/logoFormation.png" alt="">
                        </a>
                    </div>
                  <form method="post" class="row g-3 needs-validation">
                    {% if error %}
                      <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                      <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                      </div>
                    {% endif %}
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <button class="btn btn-lg btn-primary" type="submit" style="background: #132438;border-color: #132438;">
                      Se connecter
                    </button>
                  </form>
                    <div class="col-12 pt-4 pb-2">
                        <p class="small mb-0">Mot de passe oublié? <a href="{{ path('app_update_password') }}" style="color: #4db4e8;">Modifier mon mot de passe</a></p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}