{% extends 'base.html.twig' %}

{% block title %}AD CONSEIL - Gestionnaire {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class ="row">
            <div class="col-lg-6">
                    <div class="card mb-2 py-2 border-bottom-primary">
                        <div class="card-body">
                            <h2 class="header-title">Bonjour User Test !</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="">
                    <div class="card-body">
                        <a href="{{ path('admin') }}" class="btn btn-success btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-cogs"></i>
                            </span>
                            <span class="text">Back-office</span>
                        </a>
                        </div>
                    </div>
                </div>
        </div>
        <!-- LISTE FORMATIONS-->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h5 class="m-0 font-weight-bold text-primary">Formations</h5>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" class="font-weight-bold text-info">Nom</th>
                        <th scope="col" class="font-weight-bold text-info">Durée</th>
                        <th scope="col" class="font-weight-bold text-info">Date début</th>
                        <th scope="col" class="font-weight-bold text-info">Date de fin</th> 
                        <th scope="col" class="font-weight-bold text-info">Voir les Stagiaires</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for form in formations %}
                    <tr>
                        <td>{{ form.nomFormation }}</td>
                        <td>{{ form.dureeFormation }}</td>
                        <td>{{ form.dateDebutFormation|date('Y-m-d H:i:s') }}</td>
                        <td>{{ form.dateFinFormation|date('Y-m-d H:i:s') }}</td>
                     <td>
                       <a href="{{ path('formation_stagiaires', { 'id': form.id }) }}" class="btn btn-primary">
                            <span class="icon text-white-100">
                                <i class="far fa-address-card"></i>    
                            </span>
                        </a>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- LISTE DES EMPLOYEURS -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h5 class="m-0 font-weight-bold text-primary">Employeurs</h5>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" class="font-weight-bold text-info">Nom</th>
                        <th scope="col" class="font-weight-bold text-info">Prénom</th>
                        <th scope="col" class="font-weight-bold text-info">Email</th>
                        <th scope="col" class="font-weight-bold text-info">Téléphone</th>
                        <th scope="col" class="font-weight-bold text-info">Entreprise</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for emp in employ %}
                    <tr> 
                        <td>{{ emp.nom }}</td> 
                        <td>{{ emp.Prenom }}</td>
                        <td>{{ emp.email }}</td> 
                        <td>{{ emp.telephone }}</td>
                        <td>{{ emp.entreprise }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h5 class="m-0 font-weight-bold text-primary">Formateurs</h5>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col"class="font-weight-bold text-info" >Nom</th>
                        <th scope="col" class="font-weight-bold text-info">Prénom</th>
                        <th scope="col" class="font-weight-bold text-info">Email</th>
                        <th scope="col" class="font-weight-bold text-info">Téléphone</th>
                        <th scope="col" class="font-weight-bold text-info">Entreprise</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for formateur in formateurs %}
                    <tr> 
                        <td>{{ formateur.nom }}</td> 
                        <td>{{ formateur.Prenom }}</td>
                        <td>{{ formateur.email }}</td> 
                        <td>{{ formateur.telephone }}</td>
                        <td>{{ formateur.entreprise }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}
