{% extends 'baseTeacher.html.twig' %}
{% block title %}
    Ajouter une formation
{% endblock %}
{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet"/>
    <style>
        body {padding-top: 60px;}
        #formation_form_lieuFormation label, #formation_form_linkType label {
            padding: 10px
        }
        .tox-tinymce {
            height: 350px;
        }
        .hidden {
            display: none;
        }
        .custom-file-upload {
            cursor: pointer;
        }
        #trainee-table th {
            background: #132438;
            color: #fff;
        }
        .list-btn {
            justify-content: flex-end;
        }
        .td-action {
            display: flex;
            justify-content: flex-end;
        }
        .bloc-add {
            display: inline-flex;
            width: 95%;
            flex-wrap: nowrap;
        }
        .bloc-add a {
            padding-left: 0;
            padding-top: 4px;
        }
        #link-formator {
            border: 1px solid #ccc;
            padding: 3px;
            border-radius: 7px;
            margin-left: 13px;
            color: blue;
        }
    </style>
{% endblock %}
{% block body %}
    <section class="section" style="margin-top: -75px;">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active " id="tab-0" data-bs-toggle="tab" data-bs-target="#organisme" type="button" role="tab" aria-controls="organisme" aria-selected="true">
                    Entreprise/Organisme
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab-1" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab" aria-controls="details" aria-selected="false">
                    Informations générales
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab-2" data-bs-toggle="tab" data-bs-target="#stagiaires" type="button" role="tab" aria-controls="stagiaires" aria-selected="false">Stagiaires</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab-2" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="false">Compléments</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade  show active tab0" id="organisme" role="tabpanel" aria-labelledby="tab-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ajouter un nouveau organisme </h5>
                        {{ form_start(companyForm) }}
                        <fieldset disabled="disabled">
                        <div class="row mb-3">
                            {{ form_row(companyForm.name,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row mb-3">
                            {% if idCompany != '' %}
                                <span>Nb: l'ajout d'un nouveau fichier va supprimer l'ancien fichier</span>
                            {% endif %}
                            {{ form_row(companyForm.infoFilename,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row mb-3">
                            {{ form_row(companyForm.contactAdministratif,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row mb-3">
                            {{ form_row(companyForm.emailContactAdministratif,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row mb-3">
                            {{ form_row(companyForm.otherInformation,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        </fieldset>
                        {{ form_end(companyForm) }}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade tab1" id="details" role="tabpanel" aria-labelledby="tab-1">
                <div class="card">
                    {% if idCompany != '' %}
                        <div class="card-body">
                            {{ form_start(formationForm) }}
                            <fieldset disabled="disabled">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-3">
                                        {{ form_row(formationForm.company,
                                            {'attr': {'class': 'form-control select-company' }}
                                        ) }}
                                    </div>
                                    <div class="row mb-3 bloc-add">
                                        {{ form_row(formationForm.customer,
                                            {'attr': {'class': 'form-control select-client' }}
                                        ) }}
                                        <a href="{{path('app_customer_add')}}" target="_blank">
                                            <img src="{{asset('assets/img/icon/user-plus-solid.svg')}}" width="30" class="">
                                        </a>
                                    </div>
                                    <div class="row mb-3 bloc-add">
                                        {{ form_row(formationForm.formateur,
                                            {'attr': {'class': 'form-control form-control-user' }}
                                        ) }}
                                        <a href="{{path('app_add_teacher')}}" target="_blank">
                                            <img src="{{asset('assets/img/icon/user-plus-solid.svg')}}" width="30" class="">
                                        </a>
                                    </div>
                                    <div class="row mb-3 bloc-add">
                                        {{ form_row(formationForm.financier,
                                            {'attr': {'class': 'form-control form-control-user' }}
                                        ) }}
                                        <a href="{{path('app_financier_add')}}" target="_blank">
                                            <img src="{{asset('assets/img/icon/user-plus-solid.svg')}}" width="30" class="">
                                        </a>
                                    </div>

                                    <div class="row mb-3">
                                        {{ form_row(formationForm.nomFormation,
                                            {'attr': {'class': 'form-control form-control-user' }}
                                        ) }}
                                    </div>
                                    <div class="row mb-3 checkboxLieu">
                                        {{ form_row(formationForm.lieuFormation,
                                            {'attr': {'class': '' }}
                                        ) }}
                                    </div>
                                    <div class="row mb-3 hidden lieuFormation">
                                        {{ form_row(formationForm.formationAddress,
                                            {'attr': {'class': 'form-control form-control-user addr-form hidden' }}
                                        ) }}
                                    </div>
                                    <div class="row mb-3 hidden linkType">
                                        {{ form_row(formationForm.linkType,
                                            {'attr': {'class': '' }}
                                        ) }}
                                    </div>

                                    <div class="row mb-3 hidden teacher">
                                        <span id="link-formator">Aucun lien sélectionné</span>
                                        <a href="#" class="bi-text-right" style="text-align: right" id="add-linkFormateur">Autre</a>
                                    </div>
                                    <div class="row mb-3 hidden" id="otherLinkFormateur">
                                        <div>
                                            <input type="text" name="otherLinkFormateur" id="inputOtherLinkFormateur" class="form-control" placeholder="Lien formateur">
                                        </div>
                                    </div>
                                    <div class="row mb-3 hidden linkVirFormation">
                                        {{ form_row(formationForm.lienFormation,
                                            {'attr': {'class': 'form-control form-control-user' }}
                                        ) }}
                                    </div>
                                    <div class="row mb-3">
                                        {{ form_row(formationForm.timesheet,
                                            {'attr': {'class': 'form-control form-control-user tinymce-editor' }}
                                        ) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3">
                                        {{ form_row(formationForm.dateDebutFormation
                                        ) }}
                                    </div>
                                    <div class="row mb-3">
                                        {{ form_row(formationForm.dateFinFormation
                                        ) }}
                                    </div>
                                    <div class="row mb-3">
                                        {{ form_row(formationForm.dureeFormation,
                                            {'attr': {'class': 'form-control form-control-user' }}
                                        ) }}
                                    </div>
                                    <div class="row mb-3">
                                        {{ form_row(formationForm.linkToProgram,
                                            {'attr': {'class': 'form-control form-control-user' }}
                                        ) }}
                                        <a href="#" class="bi-text-right" style="text-align: right" id="add-program">Autre</a>
                                    </div>
                                    <div class="row mb-3 hidden" id="otherProgram">
                                        <div>
                                            <input type="text" name="otherProgram" class="form-control" id="staticValueProgramm" placeholder="Lien de programme" value="">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        {{ form_row(formationForm.linkToLivretAccueil,
                                            {'attr': {'class': 'form-control form-control-user' }}
                                        ) }}
                                    </div>
                                    <div class="row mb-3">
                                        {{ form_row(formationForm.linkGuide,
                                            {'attr': {'class': 'form-control form-control-user' }}
                                        ) }}
                                    </div>
                                    <div class="row mb-3">
                                        {{ form_row(formationForm.linkFormulaire,
                                            {'attr': {'class': 'form-control form-control-user' }}
                                        ) }}
                                    </div>
                                    <div class="row mb-3">
                                        {{ form_row(formationForm.objective,
                                            {'attr': {'class': 'form-control form-control-user tinymce-editor' }}
                                        ) }}
                                    </div>
                                </div>
                            </div>
                            </fieldset>
                            {{ form_end(formationForm) }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="stagiaires" role="tabpanel" aria-labelledby="tab-2">
                <div class="card">
                    {% if formation is defined %}
                        <div class="card">
                            <div class="card-body ps-0 pe-0">
                                <div class="ml-2 mr-2 m-lg-3">
                                    <div class="row mb-3">
                                        <div class="col-sm-3 offset-md-9 d-inline-flex list-btn">
                                            <div class="mx-lg-2 send-conv {% if trainees|length == 0 %} hidden {% endif %}">
                                                <a href="{{path('app_allTrainees_send_conv',{ 'idFormation':formation.id})}}" Envoyer convocation à tous les stagiaires> <img src="{{asset('assets/img/icon/paper-plane-solid.svg')}}" width="30"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row hidden">
                                        <div class="col-md-6"> <h5 class="card-title">
                                                {% if trainees|length == 1 %}
                                                    {{ trainees|length }} stagaire inscrit
                                                {% else%}
                                                    {{ trainees|length }} stagaires inscrits
                                                {% endif %}
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                                <table class="table table-striped" id="trainee-table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Prénom</th>
                                        <th scope="col">Fonction</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for trainee in trainees %}
                                        {% if trainee is not null %}
                                            <tr>
                                                <td>{{ trainee.firstName }}</td>
                                                <td>{{ trainee.lastName }}</td>
                                                <td>{{ trainee.position }}</td>
                                                <td class="td-action">
                                                    <a href="{{ path('app_trainee_send_conv', { 'idFormation':formation.id, 'idTrainee': trainee.id }) }}" class="first-btn" title="Envoyer convocation" class="">
                                                        <img src="{{asset('assets/img/icon/envelope-solid.svg')}}">
                                                    </a>
                                                    <a href="{{ path('app_trainee_see_conv', { 'idFormation':formation.id, 'idTrainee': trainee.id }) }}" class="first-btn" title="Voir convocation" class="" target="_blank">
                                                        <img src="{{asset('assets/img/icon/eye-solid.svg')}}">
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="tab-3">
                <div class="card">
                    <div class="card-body">
                        {% if formInfo != '' %}
                            <div class="card">
                                <div class="card-body">
                                    {{ form_start(formInfo) }}
                                    <fieldset disabled="disabled">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row mb-3">
                                                {{ form_row(formInfo.infoTrainees,
                                                    {'attr': {'class': 'form-control form-control-user tinymce-editor' }}
                                                ) }}
                                            </div>
                                            <div class="row mb-3">
                                                {{ form_row(formInfo.infoFormateur,
                                                    {'attr': {'class': 'form-control form-control-user tinymce-editor' }}
                                                ) }}
                                            </div>
                                            <div class="row mb-3">
                                                {{ form_row(formInfo.infoCustomer,
                                                    {'attr': {'class': 'form-control form-control-user tinymce-editor' }}
                                                ) }}
                                            </div>
                                        </div>
                                    </div>
                                    </fieldset>
                                    {{ form_end(formInfo) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        jQuery(document).ready(function() {
            $('#formation_form_linkType label:first').addClass('hidden');
            $('#formation_form_linkType input:first').addClass('hidden');
            $('.checkboxLieu input[type="radio"]:checked').each(function (e){
                if(this.value == 'Distanciel') {
                    $('.lieuFormation').addClass('hidden');
                    $('.linkType').removeClass('hidden');
                } else if(this.value == 'Présentiel') {
                    $('.lieuFormation').removeClass('hidden');
                    $('.linkType').addClass('hidden');
                    $('.teacher').addClass('hidden');
                    $('.linkVirFormation').addClass('hidden');
                }else if(this.value == 'Mixte') {
                    $('.lieuFormation').removeClass('hidden');
                    $('.linkType').removeClass('hidden');
                }
            });
            $('.linkType input[type="radio"]:checked').each(function (e){
                if(this.value == "LienBBB") {
                    $('.teacher').removeClass('hidden');
                    $('.linkVirFormation').addClass('hidden');
                } else if (this.value == "Lienexterne") {
                    $('.teacher').addClass('hidden');
                    $('.linkVirFormation').removeClass('hidden');
                }
            });
            $('input[type="radio"]').on('change', function(e) {
                if(this.value == 'Distanciel') {
                    $('.lieuFormation').addClass('hidden');
                    $('.linkType').removeClass('hidden');
                } else if(this.value == 'Présentiel') {
                    $('.lieuFormation').removeClass('hidden');
                    $('.linkType').addClass('hidden');
                }else if(this.value == 'Mixte') {
                    $('.lieuFormation').removeClass('hidden');
                    $('.linkType').removeClass('hidden');
                }

                if(this.value == 'LienBBB') {
                    $('.teacher').removeClass('hidden');
                    $('.linkVirFormation').addClass('hidden');
                }
                if(this.value == 'Lienexterne') {
                    $('.teacher').addClass('hidden');
                    $('.linkVirFormation').removeClass('hidden');
                }
            });
            tinyMCE.init({
                height : "300",
                language: 'fr_FR',
                language_url : '/assets/vendor/tinymce/langs/fr_FR.js',
                menubar: false,
                branding: false,
                statusbar: false
            });
            tinymce.init({
                selector: 'textarea.addr-form',
                height : "150",
                language: 'fr_FR',
                language_url : '/assets/vendor/tinymce/langs/fr_FR.js',
                menubar: false,
                branding: false,
                statusbar: false
            });
            $('.js-datepicker').datepicker({
                format: 'dd/mm/yyyy',
                language: "fr",
                autoclose: true,
                orientation: "bottom left",
                minDate: new Date()
            });
            /*setTimeout(function(){
                $('.tox-menubar, .tox-promotion, .tox-statusbar').css('display','none');
            }, 1000);*/
            let companyID = $("#companyID").attr("data-companyID");
            $('.select-company option').each(function (e) {
                if(companyID == this.value) {
                    $('.select-company').val(companyID);
                } else {
                    this.style.display = "none";
                }
            })
            let selectedCompanyName = $('.select-company :selected').text();
            $('.select-client option').each(function (e){
                if(this.text.includes(selectedCompanyName)) {
                    let newVal = this.text.split(':');
                    $(this).text(newVal[1]);
                    this.style.display = "block";
                } else {
                    this.style.display = "none";
                }
            })
            $('.select-company').on('change',function () {
                let selectedCompany = this.selectedOptions[0].text;
                $('.select-client option').each(function (e){
                    if(this.text.includes(selectedCompany)) {
                        this.style.display = "block";
                    } else {
                        this.style.display = "none";
                    }
                })
                if(selectedCompany === 'Client') {
                    $('.select-client option').each(function (e) {
                        this.style.display = "block";
                    })
                }
            })
            //hide statique link
            $('#formation_form_linkToProgram option').each(function (e){
                if(this.text.includes('##')) {
                    this.style.display = "none";
                } else {
                    this.style.display = "block";
                }
            });

            $('#formation_form_linkFormateur option').each(function (e){
                if(this.text.includes('##')) {
                    this.style.display = "none";
                } else {
                    this.style.display = "block";
                }
            });

            $('#formation_form_linkToLivretAccueil option').each(function (e){
                if(this.text.includes('lien statique')) {
                    this.style.display = "none";
                } else {
                    this.style.display = "block";
                }
            });
            $('#formation_form_linkGuide option').each(function (e){
                if(this.text.includes('lien statique')) {
                    this.style.display = "none";
                } else {
                    this.style.display = "block";
                }
            });

            $('#formation_form_linkFormulaire option').each(function (e){
                if(this.text.includes('lien statique')) {
                    this.style.display = "none";
                } else {
                    this.style.display = "block";
                }
            });

            $('#add-program').on('click', function (e) {
                e.preventDefault();
                $('#otherProgram').removeClass('hidden');
            })
            var linkPr =  $('#formation_form_linkToProgram :selected').text().split('##');
            if(linkPr.length === 2) {
                $('#add-program').trigger('click');
                document.getElementById("staticValueProgramm").value =linkPr[0];
                document.getElementById('formation_form_linkToProgram').value = ''
            }

            var linkFormator =  $('#formation_form_linkFormateur :selected').text().split('##');
            if(linkFormator.length === 2) {
                $('#otherLinkFormateur').removeClass('hidden');
                document.getElementById("inputOtherLinkFormateur").value =linkFormator[0];
                document.getElementById('formation_form_linkFormateur').value = ''
            }

            $('#add-linkFormateur').on('click', function (e) {
                e.preventDefault();
                $('#otherLinkFormateur').removeClass('hidden');
            })

            $('.js-example-basic-single').select2();
            $('.js-example-basic-single').on('change',function () {
                let selecedItem = $(".js-example-basic-single :selected").val()
                let addTrainee = $(this).attr('data-url');
                let formationId = $(this).attr('data-formationId');
                $('.add-stag-alert').html('')
                if(parseInt(selecedItem) !== 0) {
                    $.ajax({
                        url: addTrainee,
                        type: 'POST',
                        data: {'selecedItem': selecedItem, 'formationId': formationId},
                        success: function(data)
                        {
                            if(data !== false) {
                                let newData = JSON.parse(data);
                                if(newData && newData.status == true) {
                                    let deleteLink = '/courses/deleteTrainee/'+formationId+'/'+newData.id;
                                    let updateLInk = '/trainee/edit/'+newData.id+'/'+formationId;
                                    let sendMailLInk = '/courses/sendConvocation/'+formationId+'/'+newData.id;
                                    let seePdfLink = '/courses/seeConvocation/'+formationId+'/'+newData.id;
                                    $('#trainee-table').find('tbody').append("<tr><td>"+newData.firstName+"</td><td>"+newData.lastName+"</td><td>"+newData.position+"</td>" +
                                        "<td class='td-action'>  <a href='"+updateLInk+"' class='first-btn' title='modifier'>" +
                                        "<img src='/assets/img/icon/pen-solid.svg'></a>" +
                                        "<a href='"+sendMailLInk+"' class='first-btn' title='Envoyer convocation'>" +
                                        "<img src='/assets/img/icon/envelope-solid.svg'></a>"+
                                        "<a href='"+seePdfLink+"' class='first-btn' title='Voir convocation' target='_blank'>"+
                                        "<img src='/assets/img/icon/eye-solid.svg'></a>"+
                                        "<a href='"+ deleteLink+"' class='first-btn' title='supprimer'>" +
                                        "<img src='/assets/img/icon/circle-delete-solid-red.svg'></a></td></tr>");
                                    $('.send-conv').removeClass('hidden');
                                } else {
                                    //show alert exist already
                                    $('.add-stag-alert').append('<div class="alert alert-danger alert-dismissible fade show" role="alert"> ' +
                                        newData.message+
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> ' +
                                        '</div>');
                                }

                            }
                        }
                    });
                }

            })
            $('.new_Btn').click(function() {
                $('#html_btn').click();
            });
            $('#html_btn').change(function(){
                //submit the form here
                $('#importFile').submit();
            });
            $('#add-program').on('click', function (e) {
                e.preventDefault();
                $('#otherProgram').removeClass('hidden');
            })
            $('#formation_form_formateur option:selected').each(function (e){
                if ($(this).attr("data-link") !== undefined && $(this).attr("data-link").length > 0 ) {
                    $('#link-formator').text($(this).attr("data-link"));
                } else {
                    $('#link-formator').text('Aucun lien sélectionné');
                }
            });
        });
    </script>
{% endblock %}
