{% extends 'baseAdmin.html.twig' %}

{% block title %}Page formations!{% endblock %}
{% block stylesheets %}
<style>
    .td-action-btn {
        min-width: 75px;
    }
    .td-action-update {
        padding: 0;
    }
</style>
{% endblock %}
{% block body %}
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="remove-element-alert mt-2"></div>
                <div class="pt-4 pb-2">
                    {% for success in app.flashes('warning') %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ success }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
                <div class="card">
                    <div class="card-body ps-0 pe-0">
                        <div class="row">
                            <div class="col-lg-9"></div>
                            <div class="col-md-3">
                                {% if alowAddNew %}
                                    <a href="{{path('app_courses_manage',{ 'type':"intra", 'idFormation': null })}}" title="Ajouter une formation" class="float-end mt-4 mb-4 add-new">
                                        <img src="{{asset('assets/img/icon/circle-plus-solid-blue.svg')}}" width="40">
                                    </a>
                                {% else %}
                                    <a href="{{path('app_courses_manage', {'type':"inter"})}}" title="Ajouter une formation" class="float-end mt-4 mb-4 add-new">
                                        <img src="{{asset('assets/img/icon/circle-plus-solid-blue.svg')}}" width="40">
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <!-- Table with stripped rows -->
                        <table class="table table-striped" id="list-formations">
                            <thead>
                            <tr>
                                <th scope="col">Intitulé de la formation</th>
                                <th scope="col">Formateur</th>
                                <th scope="col">Date de début</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if 'intra' in app.request.pathinfo %}
                                {% set type = "intra" %}
                            {% else %}
                                {% set type = "intra" %}
                            {% endif %}
                            {% for course in courses %}
                                <tr>
                                    <td><a href="{{ path('app_courses_manage', {'idFormation': course.id, 'type':type }) }}" class="company-link"> {{course.nomFormation}}</a></td>
                                    <td>{% if course.formateur is defined and course.formateur is not null %} {{course.formateur.firstName}} {{course.formateur.lastName}}{% else %} - {% endif %}</td>
                                    <td> {% if course.dateDebutFormation is defined and course.dateDebutFormation is not null %}{{course.dateDebutFormation |date('d-m-Y')}}{% endif %}</td>
                                   <td>
                                       <a href data-bs-toggle="modal" data-bs-target="#confirmationModal" class="first-btn deleteBtn" title="supprimer" data-remove-url="{{path('app_delete_formation',{ 'id': course.id })}}">
                                           <img src="{{asset('assets/img/icon/circle-delete-solid-red.svg')}}">
                                       </a>

                                       <a href="{{ path('app_courses_manage', {'idFormation': course.id, 'type':type }) }}" class="" title="modifier">
                                           <img src="{{asset('assets/img/icon/pen-solid.svg')}}">
                                       </a>
                                   </td>
                                    <td>
                                        {% set fill1 = '' %}
                                        {% set fill2 = '' %}
                                        {% set fill3 = '' %}
                                        {% set fill4 = '' %}
                                        {% if course.status == 1 %}
                                            {% if course.dateFinFormation|date_modify("+6 month")|date("Y-m-d") <  "now"|date("Y-m-d") %}
                                                {% set fill1 = 1 %}
                                                {% set fill2 = 1 %}
                                                {% set fill3 = 1 %}
                                                {% set fill4 = 1 %}
                                            {% endif %}
                                            {% if(course.dateFinFormation|date("Y-m-d") <  "now"|date("Y-m-d")) %}
                                                {% set fill1 = 1 %}
                                                {% set fill2 = 1 %}
                                                {% set fill3 = 1 %}
                                            {% endif %}
                                            {% if "now"|date("Y-m-d") > course.dateDebutFormation|date("Y-m-d") and "now"|date("Y-m-d") < course.dateFinFormation|date("Y-m-d") %}
                                                {% set fill1 = 1 %}
                                                {% set fill2 = 1 %}
                                            {% endif %}
                                            {% if "now"|date("Y-m-d") < course.dateDebutFormation|date("Y-m-d") %}
                                                {% set fill1 = 1 %}
                                            {% endif %}
                                        {% endif %}

                                        <div class="course-status">
                                            <div class="prog"><span>BRO</span><div class="carre fill"></div></div>
                                            <div class="prog"><span>AMT</span><div class="carre  {% if course.status == 1 and fill1 %} fill {% endif %}"></div></div>
                                            <div class="prog"><span>EC</span><div class="carre  {% if course.status == 1 and fill2 %} fill {% endif %}"></div></div>
                                            <div class="prog"><span>AVA</span><div class="carre  {% if course.status == 1 and fill3 %} fill {% endif %}"></div></div>
                                            <div class="prog"><span>ARC</span><div class="carre  {% if course.status == 1 and fill4 %} fill {% endif %}"></div></div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        const datatablesSimple = document.getElementById('list-formations');
        new simpleDatatables.DataTable(datatablesSimple, {
            perPage: 100
        });
        jQuery(document).ready(function() {
            $("#list-formations tr td:last-child").removeClass('td-action');
            $("#list-formations tr td:nth-last-child(2)").addClass('td-action-btn');
            $("#list-formations tr td:last-child").addClass('td-action-update');
        });
    </script>
{% endblock %}
