{% extends 'baseAdmin.html.twig' %}

{% block title %}Listes des clients{% endblock %}
{% block stylesheets %}
<style>
    .td-action{
        min-height: 65px;
    }
</style>
{% endblock %}
{% block body %}
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="remove-element-alert mt-2"></div>
                <div class="card">
                    <div class="card-body ps-0 pe-0">
                        <div class="row">
                            <div class="col-md-9"></div>
                            <div class="col-md-3">
                                <a href="{{path('app_customer_add')}}" title="Ajouter un client" class="float-end mt-4 mb-4 add-new">
                                    <img src="{{asset('assets/img/icon/circle-plus-solid-blue.svg')}}" width="40">
                                </a>
                        </div>
                        <!-- Table with stripped rows -->
                        <table class="table datatable table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Nom de client</th>
                                <th scope="col">Contact Administratif</th>
                                <th scope="col">Email</th>
                                <th scope="col">Tél</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for customer in customers %}
                                <tr>
                                    <td>{{customer.name}}</td>
                                    <td>{{customer.contactAdministrative}}</td>
                                    <td>{{customer.email}}</td>
                                    <td>{{customer.tel}}</td>
                                    <td>
                                        <a href data-bs-toggle="modal" data-bs-target="#confirmationModal" class="first-btn deleteBtn" title="supprimer" data-remove-url="{{path('app_delete_customer',{ 'id': customer.id })}}">
                                            <img src="{{asset('assets/img/icon/circle-delete-solid-red.svg')}}">
                                        </a>
                                        <a href="{{ path('app_customer_edit', { 'id':customer.id }) }}" class="" title="modifier">
                                            <img src="{{asset('assets/img/icon/pen-solid.svg')}}">
                                        </a>
                                        {% if customer.infoFilename != '' %}
                                            <a href="/documents/companyFiles/{{ customer.infoFilename }}" class="" title="Voir fichier" target="_blank" style="margin-left: 10px">
                                                <img src="{{asset('assets/img/icon/file-solid.svg')}}">
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
