{% extends 'baseAdmin.html.twig' %}

{% block title %}Modification de lien{% endblock %}

{% block body %}
    <section class="section">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Modification du lien </h5>
                        {{ form_start(linkForm) }}
                        <div class="row mb-3">
                            {{ form_row(linkForm.name,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row mb-3">
                            {{ form_row(linkForm.value,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="form-group checkboxStatus">
                            {{ form_row(linkForm.linkStatus) }}
                        </div>
                        <div class="row pages-links">
                            <div class="col-md-9">
                                <a href="{{path('app_link')}}">
                                    <img src="{{asset('assets/img/icon/circle-delete-solid.svg')}}" width="33" style="margin-top: 2px;">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="save-icon float-end">
                                    <img src="{{asset('assets/img/icon/save-disk-solid.svg')}}" width="30">
                                </button>
                            </div>
                        </div>
                        {{ form_end(linkForm) }}
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}