{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="remove-element-alert mt-2"></div>
                <div class="card">
                    <div class="card-body ps-0 pe-0">
                        <div class="row">
                            <div class="col-lg-8"></div>
                            <div class="col-lg-4">
                                <a href="{{path('app_add_link')}}" title="Ajouter un nouveau lien" class="float-end mt-4 mb-4 add-new">
                                    <img src="{{asset('assets/img/icon/circle-plus-solid-blue.svg')}}" width="40">
                                </a>
                            </div>
                        </div>
                        <!-- Table with stripped rows -->
                        <table class="table datatable table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Nom de lien</th>
                                <th scope="col" style="width: 60% !important;font-size: 10px">lien</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for link in links %}
                                <tr>
                                    <td>{{link.name}}</td>
                                    <td>{{link.value}}</td>
                                    <td class="text-center">
                                        <div>
                                            <a href data-bs-toggle="modal" data-bs-target="#confirmationModal" data-remove-url="{{path('app_delete_link',{ 'id': link.id })}}" class="first-btn deleteBtn">
                                                <img src="{{asset('assets/img/icon/circle-delete-solid-red.svg')}}">
                                            </a>
                                            <a href="{{path('app_edit_link',{ 'id': link.id })}}" class="" title="modifier">
                                                <img src="{{asset('assets/img/icon/pen-solid.svg')}}">
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
