{% extends 'baseAdmin.html.twig' %}

{% block title %}Entreprise/Organisme!{% endblock %}

{% block body %}
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-8"></div>
                            <div class="col-lg-4">
                                <a href="{{path('app_add_company')}}" title="Ajouter un nouveau organisme" class="float-end mt-4 mb-4 add-new">
                                    <img src="{{asset('assets/img/icon/circle-plus-solid.svg')}}" width="40">
                                </a>
                            </div>
                        </div>
                        <!-- Table with stripped rows -->
                        <table class="table datatable table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Nom</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for company in companies %}
                                <tr>
                                    <td>{{company.name}}</td>
                                    <td class="text-center">
                                        <a href data-bs-toggle="modal" data-bs-target="#confirmationModal" data-remove-url="" class="first-btn">
                                            <img src="{{asset('assets/img/icon/circle-delete-solid.svg')}}">
                                        </a>
                                        <a href="{{path('app_edit_company',{ 'id': company.id })}}" class="" title="modifier">
                                            <img src="{{asset('assets/img/icon/pen-solid.svg')}}">
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
