{% extends 'baseAdmin.html.twig' %}

{% block title %}Ajout d'un organisme{% endblock %}

{% block body %}
    <section class="section">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ajouter un nouveau organisme </h5>
                        {{ form_start(companyForm) }}
                        <div class="row mb-3">
                            {{ form_row(companyForm.name,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row mb-3">
                            {{ form_row(companyForm.infoFilename,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row pages-links">
                            <div class="col-md-4">
                                <a href="{{path('app_company')}}">
                                    <img src="{{asset('assets/img/icon/circle-delete-solid.svg')}}" width="30">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="save-icon">
                                    <img src="{{asset('assets/img/icon/save-disk-solid.svg')}}" width="30">
                                </button>
                            </div>
                            <div class="col-md-4">
                                <a href="{{path('app_add_company')}}" class="float-end" >
                                    <img src="{{asset('assets/img/icon/circle-plus-solid.svg')}}" width="30">
                                </a>
                            </div>
                        </div>
                        {{ form_end(companyForm) }}
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}