<!-- Free to use, HTML email template designed & built by FullSphere. Learn more about us at www.fullsphere.co.uk -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>

    <!--[if gte mso 9]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="x-apple-disable-message-reformatting">
    <!--[if !mso]><!--><meta http-equiv="X-UA-Compatible" content="IE=edge"><!--<![endif]-->

    <!-- Your title goes here -->
    <title>Rappel des informations clés</title>
    <!-- End title -->

    <!-- Start stylesheet -->
    <style type="text/css">
        body {
            font-family:'Helvetica', Arial, sans-serif;
        }
        a,a[href],a:hover, a:link, a:visited {
            /* This is the link colour */
            color: #4db4e8;
        }
        .link {
            text-decoration: underline!important;
        }
        p, p:visited {
            /* Fallback paragraph style */
            font-size:15px;
            line-height:24px;
            font-family:'Helvetica', Arial, sans-serif;
            font-weight:300;
            text-decoration:none;
            color: #000000;
            text-align: left;
        }
        h1 {
            /* Fallback heading style */
            font-size:22px;
            line-height:24px;
            font-family:'Helvetica', Arial, sans-serif;
            font-weight:normal;
            text-decoration:none;
            color: #000000;
        }
        .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td {line-height: 100%;}
        .ExternalClass {width: 100%;}
        li {
            text-align: left;
            font-size: 15px;
        }
        .bleu-link {
            color: #0B5CFF !important;
            font-weight: 600;
            text-decoration: underline !important;
        }
    </style>
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- End stylesheet -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<!-- You can change background colour here -->
<body style="text-align: center; margin: 0; padding-top: 10px; padding-bottom: 10px; padding-left: 0; padding-right: 0; -webkit-text-size-adjust: 100%;background-color: #f2f4f6; color: #000000" align="center">

<!-- Fallback force center content -->
<div style="text-align: center;">


    <!-- Start single column section -->
    <table align="center" style="text-align: center; vertical-align: top; width: 600px; max-width: 600px; background-color: #ffffff;" width="600">
        <tbody>
        <tr>
            <td style="width: 596px; vertical-align: top; padding-left: 30px; padding-right: 30px; padding-top: 0px; padding-bottom: 0px;" width="596">

                <h1 style="font-size: 20px; line-height: 24px; font-weight: 600; text-decoration: none; color: #000000;">Rappel des informations clés</h1>
                <p style="font-size: 15px; line-height: 24px; font-weight: 400; text-decoration: none; text-align: center">A destination du formateur / de la formatrice</p>
                <hr>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- End single column section -->

    <!-- Start heading for double column section -->
    <table align="center" style="text-align: center; vertical-align: top; width: 600px; max-width: 600px; background-color: #ffffff;" width="600">
        <tbody>
        <tr>
            <td style="width: 596px; vertical-align: top; padding-left: 30px; padding-right: 30px; padding-bottom: 0;" width="596">
                <p>Bonjour {% if dataF.formateur is defined %} {{ dataF.formateur.firstName }}, {% endif %}</p>
                <p> Tu animeras bientôt la formation <strong>{{ dataF.nomFormation }}</strong> qui se tiendra selon les modalités pratiques suivantes :</p>
                <p>✅ <b>Modalité :</b> {{ dataF.lieuFormation }}</p>
                {% if (dataF.lieuFormation == 'Présentiel') %}
                    <p>📍 <b>Lieu de formation :</b> {{ dataF.formationAddress|striptags|raw }}</p>
                {% elseif (dataF.lieuFormation == 'Distanciel')%}
                    <p>🎥 <b>Lien de connexion à votre classe virtuelle :</b>
                        {% if (dataF.formateur is defined and dataF.formateur.linkFormateur) %}
                            <a href="{{  dataF.formateur.linkFormateur  }}" target="_blank" class="bleu-link "> {{  dataF.formateur.linkFormateur }}</a>
                        {% else %}
                            <a href="{{ dataF.lienFormation }}" target="_blank"  class="bleu-link "> {{ dataF.lienFormation }}</a>
                        {% endif %}
                    </p>
                    {% else %}
                    <p>📍 <b>Lieu de formation :</b> {{ dataF.formationAddress|striptags|raw }}</p>
                    <p>🎥 <b>Lien de connexion à votre classe virtuelle :</b>
                        {% if (dataF.formateur is defined and dataF.formateur.linkFormateur) %}
                            <a href="{{  dataF.formateur.linkFormateur  }}" target="_blank"  class="bleu-link "> {{  dataF.formateur.linkFormateur }}</a>
                        {% else %}
                            <a href="{{ dataF.lienFormation }}" target="_blank"  class="bleu-link "> {{ dataF.lienFormation }}</a>
                        {% endif %}
                    </p>
                {% endif %}
                <p>📅 <b>Dates et horaires :</b>  {{ dataF.timesheet|striptags|raw }}</p>
                {% if dataF.customer is defined and dataF.customer is not null %}
                    <p><b>📞Coordonnées du/des commanditaire(s) :</b></p>
                    <p>
                    {% if dataF.customer|length > 0 %}
                        {% for customer in dataF.customer %}
                            <p>{{ customer.firstName }},  {{ customer.lastname }},  {{ customer.position }}, {{ customer.email }}</p>
                            <hr>
                        {% endfor %}
                    {% endif %}

                    </p>
                {% endif %}
                {% if dataF.linkToProgram is defined and dataF.linkToProgram is not null or ( dataF.linkGuide is defined and dataF.linkGuide is not null) %}
                <p><b>Liens utiles : </b></p>
                <ul>
                    {% if dataF.linkToProgram is defined and dataF.linkToProgram is not null %}
                        <li> <a href="{{ dataF.linkToProgram.value }}" target="_blank"  class="bleu-link ">Le programme de la formation précisant les objectifs et les prérequis</a></li>
                    {% endif %}
                    {% if dataF.linkGuide is defined and dataF.linkGuide is not null %}
                        <li><a href="{{ dataF.linkGuide.value }}" target="_blank" class="bleu-link ">La check-liste des formateurs.trices : merci d’en suivre les processus </a></li>
                    {% endif %}
                </ul>
                {% endif %}
                {% if dataF.infoFormateur is not null %}
                    <b style="text-align: left">Informations complémentaire formateur :</b>
                    <p>{{ dataF.infoFormateur|striptags }}</p>
                {% endif %}

                <p> Sur le <a href="{% if dataF.linkDrive is defined and dataF.linkDrive is not null %}{{ dataF.linkDrive|striptags}}{% endif %}" target="_blank" class="bleu-link " id="linkDriveFormation"> lien suivant</a>
                    <a href="" data-bs-toggle="modal" data-bs-target="#updateDriveLink" id="updateDriveLinkModale" title="modifier"  data-pathUpdateLink="{{path('app_update_link_drive',{'formationId' : dataF.id })}}">
                        <img src="{{asset('assets/img/icon/pen-solid.svg')}}">
                    </a>, tu trouveras l’ensemble des documents utiles pour ta formation :</p>
                <ul>
                    <li> La liste des stagiaires</li>
                    <li> Les feuilles d’émargement en cas de session présentielle</li>
                    <li> Les attestations individuelles de fin de formation,</li>
                    <li> Les certificats de réalisation</li>
                </ul>
                <p>Tous les autres outils du formateur / de la formatrice sont accessible sur la page <a href="https://adconseil.ovh/index.php/formations/" target="_blank"  class="bleu-link ">Méthodes Formation</a> de l’Extranet (émargements électroniques, évaluation à chaud, suivi des émargements et des évaluations, etc.).</p>
                <p>Enfin, merci de bien prendre connaissance et d’appliquer l’ensemble des points recensés dans <a href="https://1drv.ms/b/s!AhOBLFujHscUhekqzBiCgnGHV13sXw?e=9vRbnx" target="_blank"  class="bleu-link ">la check-list des formateurs.trices</a>. Ils sont essentiels pour garantir le respect du référentiel national QUALIOPI que nous sommes engagés à respecter.</p></p>
            <p>Je reste à disposition pour tout complément d’information et te souhaite une agréable formation.</p>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- End heading for double column section -->

    <!-- Start footer -->
    <!-- Start footer -->
    <table align="center" style="text-align: center; vertical-align: top; width: 600px; max-width: 600px; background-color: #fff;;" width="600">
        <tbody>
        <tr>
            <td style="width: 596px; vertical-align: top; padding-left: 30px; padding-right: 30px; padding-top: 30px;" width="596">
                <!-- Your inverted logo is here -->
                <div><div><table cellpadding="0" width="500" style="border-collapse:collapse;font-size:11.2px;"><tr><td style="margin:0.1px;padding:0;"><table cellpadding="0" style="border-collapse:collapse;"><tr><td valign="top" style="margin:0.1px;padding:0 12px 0 0;"><img src="https://img.mysignature.io/p/2/3/5/235a88d4-562d-5b0d-8bb7-5882ec583949.png?time=1732721201&amp;uid=740162&amp;sid=1591661" width="100" style="display:block;min-width:100px;" alt></td><td style="border-left:1px solid #4EB4E8;margin:0.1px;padding:0 0 0 12px;font:11.2px/14.2px Arial, Helvetica, sans-serif;color:#000001;" valign="top"><table cellpadding="0" style="border-collapse:collapse;"><tr><td style="margin:0.1px;padding:0 0 8px;font:14.6px/18.5px Arial, Helvetica, sans-serif;color:#000001;"><span style="font-weight:600;color:#4EB4E8;">L&#39;équipe pédagogique</span></td></tr><tr><td style="margin:0.1px;padding:0;font:11.2px/14.2px Arial, Helvetica, sans-serif;color:#000001;"><a href="mailto:formation@adconseil.org" style="color:#132438;text-decoration:none;font-family:Arial, Helvetica, sans-serif;" target="_blank">formation@adconseil.org</a></td></tr><tr><td style="margin:0.1px;padding:0;font:11.2px/14.2px Arial, Helvetica, sans-serif;color:#000001;"><a href="tel:01 46 68 88 88" style="color:#132438;text-decoration:none;font-family:Arial, Helvetica, sans-serif;" target="_blank">01 46 68 88 88</a></td></tr><tr><td style="margin:0.1px;padding:0;font:11.2px/14.2px Arial, Helvetica, sans-serif;color:#000001;"><a href="https://mysig.io/nrkKVoGr" style="color:#132438;text-decoration:none;font-family:Arial, Helvetica, sans-serif;" target="_blank">adconseil.org</a></td></tr><tr><td style="margin:0.1px;padding:0;font:11.2px/14.2px Arial, Helvetica, sans-serif;color:#000001;"><span style="color:#132438;">7 allée Mirabeau, 92240 Malakoff</span></td></tr><tr><td style="margin:0.1px;padding:12px 0 0;font:11.2px/14.2px Arial, Helvetica, sans-serif;color:#000001;"><table cellpadding="0" style="border-collapse:collapse
;"><tr><td style="margin:0.1px;padding:0 5px 0 0;font:11.2px/14.2px Arial, Helvetica, sans-serif;color:#000001;"><a href="https://mysig.io/KmNy9vMX" style="" target="_blank"><img style="display:block;min-width:22px;" width="22" src="https://img.mysignature.io/s/3/6/d/36db1590-b61a-5e16-a10a-e3b05b361296.png?uid=740162&amp;sid=1591661&amp;time=1732721201" alt></a></td><td style="margin:0.1px;padding:0 5px 0 0;font:11.2px/14.2px Arial, Helvetica, sans-serif;color:#000001;"><a href="https://mysig.io/dwNO92ZL" style="" target="_blank"><img style="display:block;min-width:22px;" width="22" src="https://img.mysignature.io/s/6/d/f/6df29e00-5d82-5eda-94d2-7215f94e32ee.png?uid=740162&amp;sid=1591661&amp;time=1732721201" alt></a></td></tr></table></td></tr></table></td></tr></table></td></tr></table><table width="500" cellspacing="0" cellpadding="0" border="0"><tr><td style="margin:0.1px;padding-top:15px;"><a href="https://mysig.io/zQOAq4Wn" style="" target="_blank"><img src="https://img.mysignature.io/b/2/3/5/235a88d4-562d-5b0d-8bb7-5882ec583949.png?time=1732721201&amp;uid=740162&amp;sid=1591661" valign="top" style="display:block;" width="321" alt></a></td></tr></table></div><div><table width="500" cellspacing="0" cellpadding="0" border="0"><tr><td style="margin:0.1px;line-height:1px;font-size:1px;height:1px;"> </td></tr></table></div></div>
            </td>
        </tr>
        </tbody>
    </table>
    <table align="center" style="text-align: center; vertical-align: top; width: 600px; max-width: 600px; " width="600">
        <tbody>
        <tr>
            <td>
                <a href="{{ path('app_teacher_send_email_alert', {'idFormation':dataF.id }) }}" class="btn btn-primary"  class="bleu-link ">Envoyer un e-mail au formateur</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- End footer -->
</div>
<div class="modal fade" id="updateDriveLink" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Introduire le lien drive </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" name="lienDrive" id="lienDrive" class="form-control" placeholder="Lien Drive de la formation">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Annuler</button>
                <button type="button" class="btn btn-primary updateLinkDrive">Valider</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>
<script type="text/javascript">
    $('#updateDriveLinkModale').on('click', function (e){
        e.preventDefault();
        $('#lienDrive').val($('#linkDriveFormation').attr('href'));
        $('#updateDriveLink').modal('show');

    })
    $(".updateLinkDrive").on('click',function () {
        var pathUpdateLink =  $('#updateDriveLinkModale').attr('data-pathUpdateLink');
        let link = $('#lienDrive').val();
        $.ajax({
            url: pathUpdateLink,
            type: 'POST',
            data: {'linkDrive':link},
            success: function(data)
            {
                let newData = JSON.parse(data);
                if(newData) {
                    $('#updateDriveLink').modal('hide');
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                }
                window.location.reload()
            },
            error: function(jqXHR){
            }
        });
    })
</script>