<p>Bonjour,</p>
<p>Vous venez de suivre la formation « {{ dataF.nomFormation }} » du {{ dataF.dateDebutFormation|date("d/m/Y") }} au {{ dataF.dateFinFormation|date("d/m/Y") }}.</p>
<p>Veuillez trouver ci joint votre attestation et votre certification de réalisation.<br>
    {% if dataF.linkToProgram is defined and dataF.linkToProgram is not null %}
        Je vous transmets pour rappel, le lien de la mallette pédagogique de la formation :
        <a href="{{ dataF.linkToProgram.value }}" target="_blank" style="color: #0a58ca">{{ dataF.linkToProgram.value }}</a>
    {% endif %}
</p>
<p>Je vous informe également que vous recevrez un nouveau questionnaire d’évaluation à froid sous 6 mois, n’hésitez pas à le remplir.
<br>Vous bénéficiez également d’un accompagnement pendant cette période, je serai disponible pour répondre
    à vos questions et/ou remarques.</p>

<p>Enfin, je vous joins le lien du blog d’AD Conseil si vous souhaitez le consulter.</p>



<p>Lien du blog QVT : <a href="https://adconseil.org/le-blog-qvt/" target="_blank" style="color: #0a58ca">https://adconseil.org/le-blog-qvt/</a></p>



<p>Bien cordialement,</p>

<div><div><table cellpadding="0" width="500" style="border-collapse:collapse;font-size:11.2px;"><tr><td style="margin:0.1px;padding:0;"><table cellpadding="0" style="border-collapse:collapse;"><tr><td valign="top" style="margin:0.1px;padding:0 12px 0 0;"><img src="https://img.mysignature.io/p/2/3/5/235a88d4-562d-5b0d-8bb7-5882ec583949.png?time=1732721201&amp;uid=740162&amp;sid=1591661" width="100" style="display:block;min-width:100px;" alt></td><td style="border-left:1px solid #4EB4E8;margin:0.1px;padding:0 0 0 12px;font:11.2px/14.2px Arial, Helvetica, sans-serif;color:#000001;" valign="top"><table cellpadding="0" style="border-collapse:collapse;"><tr><td style="margin:0.1px;padding:0 0 8px;font:14.6px/18.5px Arial, Helvetica, sans-serif;color:#000001;"><span style="font-weight:600;color:#4EB4E8;">L&#39;équipe pédagogique</span></td></tr><tr><td style="margin:0.1px;padding:0;font:11.2px/14.2px Arial, Helvetica, sans-serif;color:#000001;"><a href="mailto:formation@adconseil.org" style="color:#132438;text-decoration:none;font-family:Arial, Helvetica, sans-serif;" target="_blank">formation@adconseil.org</a></td></tr><tr><td style="margin:0.1px;padding:0;font:11.2px/14.2px Arial, Helvetica, sans-serif;color:#000001;"><a href="tel:01 46 68 88 88" style="color:#132438;text-decoration:none;font-family:Arial, Helvetica, sans-serif;" target="_blank">01 46 68 88 88</a></td></tr><tr><td style="margin:0.1px;padding:0;font:11.2px/14.2px Arial, Helvetica, sans-serif;color:#000001;"><a href="https://mysig.io/nrkKVoGr" style="color:#132438;text-decoration:none;font-family:Arial, Helvetica, sans-serif;" target="_blank">adconseil.org</a></td></tr><tr><td style="margin:0.1px;padding:0;font:11.2px/14.2px Arial, Helvetica, sans-serif;color:#000001;"><span style="color:#132438;">7 allée Mirabeau, 92240 Malakoff</span></td></tr><tr><td style="margin:0.1px;padding:12px 0 0;font:11.2px/14.2px Arial, Helvetica, sans-serif;color:#000001;"><table cellpadding="0" style="border-collapse:collapse
;"><tr><td style="margin:0.1px;padding:0 5px 0 0;font:11.2px/14.2px Arial, Helvetica, sans-serif;color:#000001;"><a href="https://mysig.io/KmNy9vMX" style="" target="_blank"><img style="display:block;min-width:22px;" width="22" src="https://img.mysignature.io/s/3/6/d/36db1590-b61a-5e16-a10a-e3b05b361296.png?uid=740162&amp;sid=1591661&amp;time=1732721201" alt></a></td><td style="margin:0.1px;padding:0 5px 0 0;font:11.2px/14.2px Arial, Helvetica, sans-serif;color:#000001;"><a href="https://mysig.io/dwNO92ZL" style="" target="_blank"><img style="display:block;min-width:22px;" width="22" src="https://img.mysignature.io/s/6/d/f/6df29e00-5d82-5eda-94d2-7215f94e32ee.png?uid=740162&amp;sid=1591661&amp;time=1732721201" alt></a></td></tr></table></td></tr></table></td></tr></table></td></tr></table><table width="500" cellspacing="0" cellpadding="0" border="0"><tr><td style="margin:0.1px;padding-top:15px;"><a href="https://mysig.io/zQOAq4Wn" style="" target="_blank"><img src="https://img.mysignature.io/b/2/3/5/235a88d4-562d-5b0d-8bb7-5882ec583949.png?time=1732721201&amp;uid=740162&amp;sid=1591661" valign="top" style="display:block;" width="321" alt></a></td></tr></table></div><div><table width="500" cellspacing="0" cellpadding="0" border="0"><tr><td style="margin:0.1px;line-height:1px;font-size:1px;height:1px;"> </td></tr></table></div></div>