{% extends 'baseAdmin.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section class="section">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">

                        {% if formation|length > 0 and formation.id is not null %}
                            <h5 class="card-title">Ajouter des stagiaire pour la formation <b>{{ formation.nomFormation }}</b> </h5>
                        {% else %}
                            <h5 class="card-title">Ajouter un nouveau stagiaire </h5>
                        {% endif %}

                        <!-- add user Form -->
                        {{ form_start(registrationForm) }}
                        <div class="row mb-3">
                            {{ form_row(registrationForm.civility,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row mb-3">
                            {{ form_row(registrationForm.firstName,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row mb-3">
                            {{ form_row(registrationForm.lastName,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row mb-3">
                            {{ form_row(registrationForm.position,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row mb-3">
                            {{ form_row(registrationForm.company,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row mb-3">
                            {{ form_row(registrationForm.email,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        {% if formation|length > 0 %}
                            <input type="hidden" name="formation_id" value="{{ formation.id }}">
                        {% endif %}
                        <div class="row mb-3">
                            <div class="col-md-7">
                            {% if formation|length > 0 and formation.id is not null %}
                                <a href="{{path('app_courses_edit',{ 'id': formation.id })}}" class="btn btn-primary">Enregistrer et revenir à la liste des stagiaires</a>
                            {% endif %}
                            </div>
                            <div class="col-md-5">
                                <button type="submit" class="btn btn-primary" style="float: right">Enregistrer et ajouter un autre stagiaire</button>
                            </div>
                        </div>
                        {{ form_end(registrationForm) }} <!-- End add user form -->
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}