{% extends 'baseAdmin.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section class="section">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">

                        {% if formation|length > 0 and formation.id is not null %}
                            <h5 class="card-title">Ajouter des stagiaire pour la formation <b>{{ formation.nomFormation }}</b> </h5>
                        {% else %}
                            <h5 class="card-title">Ajouter un nouveau stagiaire </h5>
                        {% endif %}

                        <!-- add user Form -->
                        {{ form_start(registrationForm) }}
                        <div class="row mb-3">
                            {{ form_row(registrationForm.civility,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row mb-3">
                            {{ form_row(registrationForm.firstName,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row mb-3">
                            {{ form_row(registrationForm.lastName,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row mb-3">
                            {{ form_row(registrationForm.position,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row mb-3">
                            {{ form_row(registrationForm.company,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row mb-3">
                            {{ form_row(registrationForm.email,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        {% if formation|length > 0 %}
                            <input type="hidden" name="formation_id" value="{{ formation.id }}">
                        {% endif %}
                        <div class="row pages-links">
                            <div class="col-md-4">
                            {% if formation|length > 0 and formation.id is not null %}
                                <a href="{{path('app_courses_edit',{ 'id': formation.id })}}" class="">
                                    <img src="{{asset('assets/img/icon/circle-delete-solid.svg')}}" width="30">
                                </a>
                            {% else %}
                                <a href="{{path('app_trainees')}}">
                                    <img src="{{asset('assets/img/icon/circle-delete-solid.svg')}}" width="30">
                                </a>
                            {% endif %}
                            </div>
                            <div class="col-md-4 {% if formation.id is null %} offset-md-4 text-right{% endif %}">
                                <button type="submit" class="save-icon">
                                    <img src="{{asset('assets/img/icon/save-disk-solid.svg')}}" width="30">
                                </button>
                            </div>

                                {% if formation|length > 0 and formation.id is not null %}
                            <div class="col-md-4 text-right">
                                    <a href="{{path('app_add_trainee',{ 'id': formation.id })}}" class="">
                                        <img src="{{asset('assets/img/icon/circle-delete-solid.svg')}}" width="30">
                                    </a>
                            </div>
                                {% endif %}

                        </div>
                        {{ form_end(registrationForm) }} <!-- End add user form -->
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}