{% extends 'baseAdmin.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section class="section">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Modifier les informations</h5>

                        <!-- add user Form -->
                        {{ form_start(setTraineeForm) }}
                        <div class="row mb-3">
                            {{ form_row(setTraineeForm.civility,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row mb-3">
                            {{ form_row(setTraineeForm.firstName,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row mb-3">
                            {{ form_row(setTraineeForm.lastName,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row mb-3">
                            {{ form_row(setTraineeForm.position,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row mb-3">
                            {{ form_row(setTraineeForm.email,
                                {'attr': {'class': 'form-control form-control-user'}}
                            ) }}
                        </div>
                        <div class="row pages-links">
                            <div class="col-md-9">
                                <a href="{{path('app_trainees')}}">
                                    <img src="{{asset('assets/img/icon/circle-delete-solid.svg')}}" width="30">
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <button type="submit" class="save-icon float-end">
                                    <img src="{{asset('assets/img/icon/save-disk-solid.svg')}}" width="30">
                                </button>
                            </div>
                        </div>
                        {{ form_end(setTraineeForm) }} <!-- End add user form -->
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}