{% extends 'baseAdmin.html.twig' %}
{% block title %}
    Ajouter une formation
{% endblock %}
{% block body %}
    <section class="section">
        <h3 class="card-title">
            Ajouter une nouvelle formation
        </h3>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="tab-0" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab" aria-controls="details" aria-selected="true">
                    Informations générales
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab-2" disabled="false" data-bs-toggle="tab" data-bs-target="#stagiaires" type="button" role="tab" aria-controls="stagiaires" aria-selected="false">Stagiaires</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active tab1" id="details" role="tabpanel" aria-labelledby="tab-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Informations générales
                        </h5>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_start(formationForm) }}
                                <div class="row mb-3">
                                    {{ form_row(formationForm.nomFormation,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.timesheet,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.dateDebutFormation,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.dateFinFormation,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.dureeFormation,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.adresseFormation,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    {{ form_row(formationForm.lienFormation,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.zoomAccount,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.signatureAddress,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.formateur,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                    <a href="{{path('app_add_teacher')}}" target="_blank"> <i class="bi bi-person-plus"></i> Ajouter formateur</a>
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.customer,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                    <a href="{{path('app_customer_add')}}" target="_blank"> <i class="bi bi-person-plus"></i> Ajouter client</a>
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.financier,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                    <a href="{{path('app_financier_add')}}" target="_blank"> <i class="bi bi-person-plus"></i> Ajouter financeur</a>
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.objective,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-auto me-auto">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">
                                    Suivant
                                </button>
                            </div>
                        </div>
                        {{ form_end(formationForm) }}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="stagiaires" role="tabpanel" aria-labelledby="tab-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Stagiaires</h5>  
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Informations générales
                                    </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary" id="lastButton">
                                        terminer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>   
            </div>
        </div>
    </section>
{% endblock %}
