{% extends 'baseAdmin.html.twig' %}
{% block title %}
    Ajouter une formation
{% endblock %}
{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet"/>
    <style>
        body {padding-top: 60px;}
        #formation_form_lieuFormation label, #formation_form_linkType label {
            padding: 10px
        }
        .tox-tinymce {
            height: 350px;
        }
        .hidden {
            display: none;
        }
    </style>
{% endblock %}
{% block body %}
    <section class="section" style="margin-top: -75px;">
        <h3 class="card-title">
            Ajouter une nouvelle formation
        </h3>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="tab-0" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab" aria-controls="details" aria-selected="true">
                    Informations générales
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab-2" disabled="false" data-bs-toggle="tab" data-bs-target="#stagiaires" type="button" role="tab" aria-controls="stagiaires" aria-selected="false">Stagiaires</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab-2" disabled="false" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="false">Compléments</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active tab1" id="details" role="tabpanel" aria-labelledby="tab-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Informations générales
                        </h5>
                        {{ form_start(formationForm) }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    {{ form_row(formationForm.customer,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                    <a href="{{path('app_customer_add')}}" target="_blank"> <i class="bi bi-person-plus"></i> Ajouter client</a>
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.formateur,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                    <a href="{{path('app_add_teacher')}}" target="_blank"> <i class="bi bi-person-plus"></i> Ajouter formateur</a>
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.financier,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                    <a href="{{path('app_financier_add')}}" target="_blank"> <i class="bi bi-person-plus"></i> Ajouter financeur</a>
                                </div>

                                <div class="row mb-3">
                                    {{ form_row(formationForm.nomFormation,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3 checkboxLieu">
                                    {{ form_row(formationForm.lieuFormation,
                                        {'attr': {'class': '' }}
                                    ) }}
                                </div>
                                <div class="row mb-3 hidden lieuFormation">
                                    {{ form_row(formationForm.formationAddress,
                                        {'attr': {'class': 'form-control form-control-user tinymce-editor hidden' }}
                                    ) }}
                                </div>
                                <div class="row mb-3 hidden linkType">
                                    {{ form_row(formationForm.linkType,
                                        {'attr': {'class': '' }}
                                    ) }}
                                </div>

                                <div class="row mb-3 hidden teacher">
                                    {{ form_row(formationForm.linkFormateur,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3 hidden linkVirFormation">
                                    {{ form_row(formationForm.lienFormation,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.timesheet,
                                        {'attr': {'class': 'form-control form-control-user tinymce-editor' }}
                                    ) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    {{ form_row(formationForm.dateDebutFormation
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.dateFinFormation
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.dureeFormation,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.linkToProgram,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.linkToLivretAccueil,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.linkGuide,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.linkFormulaire,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.objective,
                                        {'attr': {'class': 'form-control form-control-user tinymce-editor' }}
                                    ) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto me-auto">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">
                                    Suivant
                                </button>
                            </div>
                        </div>
                        {{ form_end(formationForm) }}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="stagiaires" role="tabpanel" aria-labelledby="tab-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Stagiaires</h5>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Informations générales
                                    </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary" id="lastButton">
                                        terminer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>   
            </div>
            <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="tab-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Infos complémentaires</h5>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Informations générales
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary" id="lastButton">
                                    terminer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script>
        jQuery(document).ready(function() {
            $('#formation_form_linkType label:first').addClass('hidden');
            $('#formation_form_linkType input:first').addClass('hidden');
            $('.checkboxLieu input[type="radio"]:checked').each(function (e){
                if(this.value == 'Distanciel') {
                    $('.lieuFormation').addClass('hidden');
                    $('.linkType').removeClass('hidden');
                } else if(this.value == 'Présentiel') {
                    $('.lieuFormation').removeClass('hidden');
                    $('.linkType').addClass('hidden');
                    $('.teacher').addClass('hidden');
                    $('.linkVirFormation').addClass('hidden');
                }else if(this.value == 'Mixte') {
                    $('.lieuFormation').removeClass('hidden');
                    $('.linkType').removeClass('hidden');
                }
            });
            $('.linkType input[type="radio"]:checked').each(function (e){
                if(this.value == "LienBBB") {
                    $('.teacher').removeClass('hidden');
                    $('.linkVirFormation').addClass('hidden');
                } else if (this.value == "Lienexterne") {
                    $('.teacher').addClass('hidden');
                    $('.linkVirFormation').removeClass('hidden');
                }
            });
            $('input[type="radio"]').on('change', function(e) {
                if(this.value == 'Distanciel') {
                    $('.lieuFormation').addClass('hidden');
                    $('.linkType').removeClass('hidden');
                } else if(this.value == 'Présentiel') {
                    $('.lieuFormation').removeClass('hidden');
                    $('.linkType').addClass('hidden');
                }else if(this.value == 'Mixte') {
                    $('.lieuFormation').removeClass('hidden');
                    $('.linkType').removeClass('hidden');
                }

                if(this.value == 'LienBBB') {
                    $('.teacher').removeClass('hidden');
                    $('.linkVirFormation').addClass('hidden');
                }
                if(this.value == 'Lienexterne') {
                    $('.teacher').addClass('hidden');
                    $('.linkVirFormation').removeClass('hidden');
                }
            });
            tinyMCE.init({
                height : "300",
                language: 'fr',
                menubar: false,
                branding: false,
                statusbar: false
            });
            $('.js-datepicker').datepicker({
                format: 'dd/mm/yyyy',
                language: "fr",
                autoclose: true,
                orientation: "bottom left",
                minDate: new Date()
            });
            setTimeout(function(){
                $('.tox-menubar, .tox-promotion, .tox-statusbar').css('display','none');
            }, 1000);
        });
    </script>
{% endblock %}
