{% extends 'baseAdmin.html.twig' %}
{% block title %}
    Ajouter une formation
{% endblock %}
{% block stylesheets %}
   <style>
       body {padding-top: 60px;}
       #formation_form_lieuFormation label, #formation_form_linkType label {
           padding: 10px
       }
       .tox-tinymce {
           height: 350px;
       }
       .hidden {
           display: none;
       }
       .custom-file-upload {

       }
   </style>
{% endblock %}
{% block body %}
    <section class="section" style="margin-top: -75px;">
        <h3 class="card-title">
            Modfier la formation <b> {{ formation.nomFormation }}</b>
        </h3>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="tab-0" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab" aria-controls="details" aria-selected="true">
                    Informations générales
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab-2" data-bs-toggle="tab" data-bs-target="#stagiaires" type="button" role="tab" aria-controls="stagiaires" aria-selected="true">Stagiaires</button>
            </li>
            <li class="nav-item" role="presentation">
                {% if trainees|length > 0 %}
                    <button class="nav-link" id="tab-3" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Compléments</button>
                {% else %}
                    <button class="nav-link" id="tab-3" disabled="false" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="false">Compléments</button>
                {% endif %}
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active tab1" id="details" role="tabpanel" aria-labelledby="tab-0">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(formationForm) }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    {{ form_row(formationForm.customer,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                    <a href="{{path('app_customer_add')}}" target="_blank"> <i class="bi bi-person-plus"></i> Ajouter client</a>
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.formateur,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                    <a href="{{path('app_add_teacher')}}" target="_blank"> <i class="bi bi-person-plus"></i> Ajouter formateur</a>
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.financier,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                    <a href="{{path('app_financier_add')}}" target="_blank"> <i class="bi bi-person-plus"></i> Ajouter financeur</a>
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.nomFormation,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3 checkboxLieu">
                                    {{ form_row(formationForm.lieuFormation,
                                        {'attr': {'class': '' }}
                                    ) }}
                                </div>
                                <div class="row mb-3 lieuFormation">
                                    {{ form_row(formationForm.formationAddress,
                                        {'attr': {'class': 'form-control form-control-user tinymce-editor' }}
                                    ) }}
                                </div>
                                <div class="row mb-3 hidden linkType">
                                    {{ form_row(formationForm.linkType,
                                        {'attr': {'class': '' }}
                                    ) }}
                                </div>
                                <div class="row mb-3 hidden teacher">
                                    {{ form_row(formationForm.linkFormateur,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3 hidden linkVirFormation">
                                    {{ form_row(formationForm.lienFormation,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.timesheet,
                                        {'attr': {'class': 'form-control form-control-user tinymce-editor' }}
                                    ) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    {{ form_row(formationForm.dateDebutFormation
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.dateFinFormation
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.dureeFormation,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.linkToProgram,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.linkToLivretAccueil,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.linkGuide,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.linkFormulaire,
                                        {'attr': {'class': 'form-control form-control-user' }}
                                    ) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_row(formationForm.objective,
                                        {'attr': {'class': 'form-control form-control-user tinymce-editor' }}
                                    ) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto me-auto">

                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">
                                    Suivant
                                </button>
                            </div>
                        </div>
                        {{ form_end(formationForm) }}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="stagiaires" role="tabpanel" aria-labelledby="tab-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">Choisir un stagaire </label>
                                    <div class="col-sm-8">
                                        <select class="js-example-basic-single" name="state" style="width: 100%">
                                            <option selected="" value="0">Choisir un stagaire de la liste</option>
                                            {% for trainee in allTrainees %}
                                                <option value="{{ trainee.id }}">{{ trainee.firstName }} {{ trainee.lastName }} / {{ trainee.email }}</option>
                                            {% endfor %}
                                        </select>
                                        <a href="{{path('app_add_trainee',{ 'formationId': formation.id })}}" class="link-right pt-0"> <i class="bi bi-person-plus"></i> Ajouter Stagiaire à la formation</a>
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-primary" id="addTrainee" data-formationId="{{ formation.id }}" data-url="{{path('app_affect_trainee')}}">Ajouter</button>
                                    </div>
                                    <div class="col-sm-1 custom-file-upload">
                                        <input type="file" id="html_btn" class="file-type" style="display: none">
                                        <img src="{{asset('assets/img/icon/file-excel-solid.svg')}}" width="30" class="float-end new_Btn">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6"> <h5 class="card-title">
                                            {% if trainees|length == 1 %}
                                            {{ trainees|length }} stagaire inscrit
                                            {% else%}
                                            {{ trainees|length }} stagaires inscrits
                                            {% endif %}
                                        </h5>
                                    </div>
                                </div>
                                {% if trainees|length > 0 %}
                                <div class="row">
                                    <div class="col-md-6 offset-md-8">
                                        <a href="{{path('app_allTrainees_send_conv',{ 'idFormation':formation.id})}}" type="button" class="btn btn-warning"><i class="bi bi-envelope-fill m-1"></i> Envoyer convocation à tous les stagiaires</a></div>
                                </div>
                                {% endif %}

                                <table class="table table-striped" id="trainee-table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Prénom</th>
                                        <th scope="col">Fonction</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for trainee in trainees %}
                                        {% if trainee is not null %}
                                    <tr>
                                        <td>{{ trainee.firstName }}</td>
                                        <td>{{ trainee.lastName }}</td>
                                        <td>{{ trainee.position }}</td>
                                        <td>
                                            <a href="{{ path('app_trainee_formation_delete', { 'idFormation':formation.id, 'idTrainee': trainee.id }) }}" class="first-btn" title="supprimer">
                                                <img src="{{asset('assets/img/icon/circle-delete-solid.svg')}}">
                                            </a>
                                            <a href="{{ path('app_edit_user_trainee', { 'id':trainee.id, 'idFormation':formation.id }) }}" class="first-btn" title="modifier">
                                                <img src="{{asset('assets/img/icon/pen-solid.svg')}}">
                                            </a>
                                            <a href="{{ path('app_trainee_send_conv', { 'idFormation':formation.id, 'idTrainee': trainee.id }) }}" title="Envoyer convocation" class="">
                                                <img src="{{asset('assets/img/icon/envelope-solid.svg')}}">
                                            </a>
                                        </td>
                                    </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto me-auto">
                                <button type="button" class="btn btn-primary" id="prevButton">
                                    Précédent
                                </button>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">
                                    terminer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="tab-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body">
                                {{ form_start(formInfo) }}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-3">
                                            {{ form_row(formInfo.infoTrainees,
                                                {'attr': {'class': 'form-control form-control-user tinymce-editor' }}
                                            ) }}
                                        </div>
                                        <div class="row mb-3">
                                            {{ form_row(formInfo.infoFormateur,
                                                {'attr': {'class': 'form-control form-control-user tinymce-editor' }}
                                            ) }}
                                        </div>
                                        <div class="row mb-3">
                                            {{ form_row(formInfo.infoCustomer,
                                                {'attr': {'class': 'form-control form-control-user tinymce-editor' }}
                                            ) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto me-auto">
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-primary">
                                            Suivant
                                        </button>
                                    </div>
                                </div>
                                {{ form_end(formInfo) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        jQuery(document).ready(function() {
            $('#formation_form_linkType label:first').addClass('hidden');
            $('#formation_form_linkType input:first').addClass('hidden');
            $('.checkboxLieu input[type="radio"]:checked').each(function (e){
               if(this.value == 'Distanciel') {
                    $('.lieuFormation').addClass('hidden');
                    $('.linkType').removeClass('hidden');
                } else if(this.value == 'Présentiel') {
                    $('.lieuFormation').removeClass('hidden');
                    $('.linkType').addClass('hidden');
                    $('.teacher').addClass('hidden');
                    $('.linkVirFormation').addClass('hidden');
                }else if(this.value == 'Mixte') {
                    $('.lieuFormation').removeClass('hidden');
                    $('.linkType').removeClass('hidden');
                }
            });
            $('.linkType input[type="radio"]:checked').each(function (e){
                if(this.value == "LienBBB") {
                    $('.teacher').removeClass('hidden');
                    $('.linkVirFormation').addClass('hidden');
                } else {
                    $('.teacher').addClass('hidden');
                    $('.linkVirFormation').removeClass('hidden');
                }
            });
            $('input[type="radio"]').on('change', function(e) {
                if(this.value == 'Distanciel') {
                    $('.lieuFormation').addClass('hidden');
                    $('.linkType').removeClass('hidden');
                } else if(this.value == 'Présentiel') {
                    $('.lieuFormation').removeClass('hidden');
                    $('.linkType').addClass('hidden');
                }else if(this.value == 'Mixte') {
                    $('.lieuFormation').removeClass('hidden');
                    $('.linkType').removeClass('hidden');
                }

                if(this.value == 'LienBBB') {
                    $('.teacher').removeClass('hidden');
                    $('.linkVirFormation').addClass('hidden');
                }
                if(this.value == 'Lienexterne') {
                    $('.teacher').addClass('hidden');
                    $('.linkVirFormation').removeClass('hidden');
                }
            });
            tinyMCE.init({
                height : "300",
                language: 'fr_FR',
                language_url : '/assets/vendor/tinymce/langs/fr_FR.js',
                menubar: false,
                branding: false,
                statusbar: false
            });
        });
        $('.js-datepicker').datepicker({
            format: 'dd/mm/yyyy',
            language: "fr",
            autoclose: true,
            orientation: "bottom left",
            minDate: new Date()
        });
        setTimeout(function(){
          $('.tox-menubar, .tox-promotion, .tox-statusbar').css('display','none');
        }, 1000);
        $('.js-example-basic-single').select2();
        $('#addTrainee').on('click',function () {
            let selecedItem = $(".js-example-basic-single :selected").val()
            let addTrainee = $(this).attr('data-url');
            let formationId = $(this).attr('data-formationId');
            $.ajax({
                url: addTrainee,
                type: 'POST',
                data: {'selecedItem': selecedItem, 'formationId': formationId},
                success: function(data)
                {
                    if(data != false) {
                        let newData = JSON.parse(data);
                        let deleteLink = '/courses/deleteTrainee/'+formationId+'/'+newData.id;
                        let updateLInk = '/trainee/edit/'+newData.id+'/'+formationId;
                        let sendMailLInk = '/courses/sendConvocation/'+formationId+'/'+newData.id;
                        $('#trainee-table').find('tbody').append("<tr><td>"+newData.firstName+"</td><td>"+newData.lastName+"</td><td>"+newData.position+"</td>" +
                            "<td>  <a href='"+ deleteLink+"' class='first-btn' title='supprimer'>" +
                            "<img src='/assets/img/icon/circle-delete-solid.svg'></a>" +
                            "<a href='"+updateLInk+"' class='first-btn' title='modifier'>" +
                            "<img src='/assets/img/icon/pen-solid.svg'></a>" +
                            "<a href='"+sendMailLInk+"' title='Envoyer convocation'>" +
                            "<img src='/assets/img/icon/envelope-solid.svg'></a></td></tr>");
                    }
                }
            });
        })
        $('.new_Btn').click(function() {
            console.log('test')
            $('#html_btn').click();
        });
    </script>
{% endblock %}
