{% extends 'baseAdmin.html.twig' %}
{% block title %}
    Ajouter une formation
{% endblock %}
{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet"/>
    <style>
        body {padding-top: 60px;}
        #formation_form_lieuFormation label, #formation_form_linkType label {
            padding: 10px
        }
        .tox-tinymce {
            height: 350px;
        }
        .hidden {
            display: none;
        }
        .custom-file-upload {
            cursor: pointer;
        }
        #trainee-table th {
            background: #132438;
            color: #fff;
        }
        .list-btn {
            justify-content: flex-end;
        }
        .td-action {
            display: flex;
            justify-content: flex-end;
        }
        #tableClient .td-action {
            display: table-cell;
        }
        .bloc-add {
            display: inline-flex;
            width: 95%;
            flex-wrap: nowrap;
        }
        .bloc-add a {
            padding-left: 0;
            padding-top: 4px;
        }
        #link-formator {
            border: 1px solid #ccc;
            border-radius: 7px;
            color: blue;
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            margin: 0px;
        }
        .custom-link {
            float: right;
            padding: 20px 7px 15px 0;
            color: #012970;
            font-size: 13px;
            text-decoration: underline;
        }
        .datatable-pagination-list button {
            color: #012970;
        }
    </style>
{% endblock %}
{% block body %}
    <section class="section" style="margin-top: -75px;">
        <div id="loader" class="loader-overlay" style="display: none">
            <div class="loader"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3 class="card-title">
                    Détails de la formation {{ courseName }}
                </h3>
            </div>
            {% if formation is defined %}
                <div class="col-md-6">
                    <a href="{{path('app_see_historic',{ 'formationId': formation.id })}}" class="custom-link">Historique</a>
                </div>
            {% endif %}
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if courseName == "" %} active {% endif %} " id="tab-1" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab" aria-controls="details" aria-selected="false">
                    Informations générales
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if courseName != "" and selectedClient|length == 0 %} active {% endif %} " id="tab-0" {% if courseName == "" %} disabled="false" {% endif %} data-bs-toggle="tab" data-bs-target="#organisme" type="button" role="tab" aria-controls="organisme" aria-selected="true">
                    Entreprise/Organisme
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if courseName != "" and selectedClient|length > 0 %} active {% endif %} " id="tab-2"  {% if courseName == "" %} disabled="false" {% endif %} data-bs-toggle="tab" data-bs-target="#stagiaires" type="button" role="tab" aria-controls="stagiaires" aria-selected="false">Stagiaires</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab-2" {% if courseName == "" %} disabled="false" {% endif %} data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="false">Compléments</button>
            </li>
            {% if courseName and trainees|length > 0%}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="tab-4" {% if courseName == "" %} disabled="false" {% endif %} data-bs-toggle="tab" data-bs-target="#evalchaud" type="button" role="tab" aria-controls="evalchaud" aria-selected="false">Evaluation à chaud</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="tab-5" {% if courseName == "" %} disabled="false" {% endif %} data-bs-toggle="tab" data-bs-target="#evalfroid" type="button" role="tab" aria-controls="evalfroid" aria-selected="false">Evaluation à froid</button>
                </li>
            {% endif %}
        </ul>
        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade {% if courseName == "" %} active show  {% endif %}tab1" id="details" role="tabpanel" aria-labelledby="tab-1">
                <div class="card">
                    <div class="card-body">
                            {{ form_start(formationForm) }}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-3">
                                        {{ form_row(formationForm.nomFormation,
                                            {'attr': {'class': 'form-control form-control-user' }}
                                        ) }}
                                    </div>
                                    <div class="row mb-3 bloc-add">
                                        {{ form_row(formationForm.formateur,
                                            {'attr': {'class': 'form-control form-control-user' }}
                                        ) }}
                                        <a href="{{path('app_add_teacher')}}" target="_blank">
                                            <img src="{{asset('assets/img/icon/user-plus-solid.svg')}}" width="30" class="">
                                        </a>
                                    </div>
                                    <div class="row mb-3 bloc-add">
                                        {{ form_row(formationForm.financier,
                                            {'attr': {'class': 'form-control form-control-user' }}
                                        ) }}
                                        <a href="{{path('app_financier_add')}}" target="_blank">
                                            <img src="{{asset('assets/img/icon/user-plus-solid.svg')}}" width="30" class="">
                                        </a>
                                    </div>
                                    <div class="row mb-3 checkboxLieu">
                                        {{ form_row(formationForm.lieuFormation,
                                            {'attr': {'class': '' }}
                                        ) }}
                                    </div>
                                    <div class="row mb-3 hidden lieuFormation">
                                        {{ form_row(formationForm.formationAddress,
                                            {'attr': {'class': 'form-control form-control-user addr-form hidden' }}
                                        ) }}
                                    </div>
                                    <div class="row mb-3 hidden linkType">
                                        {{ form_row(formationForm.linkType,
                                            {'attr': {'class': '' }}
                                        ) }}
                                    </div>

                                    <div class="row mb-3 hidden teacher">
                                        <span id="link-formator">Aucun lien sélectionné</span>
                                        <a href="#" class="bi-text-right" style="text-align: right" id="add-linkFormateur">Autre</a>
                                    </div>
                                    <div class="row mb-3 hidden" id="otherLinkFormateur">
                                        <div>
                                            <input type="text" name="otherLinkFormateur" id="inputOtherLinkFormateur" class="form-control" placeholder="Lien formateur">
                                        </div>
                                    </div>
                                    <div class="row mb-3 hidden linkVirFormation">
                                        {{ form_row(formationForm.lienFormation,
                                            {'attr': {'class': 'form-control form-control-user' }}
                                        ) }}
                                    </div>
                                    <div class="row mb-3">
                                        {{ form_row(formationForm.timesheet,
                                            {'attr': {'class': 'form-control form-control-user tinymce-editor' }}
                                        ) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3">
                                        {{ form_row(formationForm.dateDebutFormation
                                        ) }}
                                    </div>
                                    <div class="row mb-3">
                                        {{ form_row(formationForm.dateFinFormation
                                        ) }}
                                    </div>
                                    <div class="row mb-3">
                                        {{ form_row(formationForm.dureeFormation,
                                            {'attr': {'class': 'form-control form-control-user' }}
                                        ) }}
                                    </div>
                                    <div class="row mb-3">
                                        {{ form_row(formationForm.linkToProgram,
                                            {'attr': {'class': 'form-control form-control-user' }}
                                        ) }}
                                        <a href="#" class="bi-text-right" style="text-align: right" id="add-program">Autre</a>
                                    </div>
                                    <div class="row mb-3 hidden" id="otherProgram">
                                        <div>
                                            <input type="text" name="otherProgram" class="form-control" id="staticValueProgramm" placeholder="Lien de programme" value="">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        {{ form_row(formationForm.linkToLivretAccueil,
                                            {'attr': {'class': 'form-control form-control-user' }}
                                        ) }}
                                    </div>
                                    <div class="row mb-3">
                                        {{ form_row(formationForm.linkGuide,
                                            {'attr': {'class': 'form-control form-control-user' }}
                                        ) }}
                                    </div>
                                    <div class="row mb-3">
                                        {{ form_row(formationForm.linkFormulaire,
                                            {'attr': {'class': 'form-control form-control-user' }}
                                        ) }}
                                    </div>
                                    <div class="row mb-3">
                                        {{ form_row(formationForm.objective,
                                            {'attr': {'class': 'form-control form-control-user tinymce-editor' }}
                                        ) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto me-auto">
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary">
                                        Enregistrer
                                    </button>
                                </div>
                            </div>
                            {{ form_end(formationForm) }}
                        </div>
                </div>
            </div>
            <div class="tab-pane fade {% if courseName != "" and selectedClient|length == 0 %} active show  {% endif %} tab0" id="organisme" role="tabpanel" aria-labelledby="tab-0">
                <div class="card">
                    <div class="card-body">
                            {% if clients|length > 0 %}
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label for="selectClient">Choisissez la liste des clients de cette formation</label>
                                <select class="js-example-basic-single selectClient" name="selectClient" data-url="{{path('app_add_one_customers')}}" {% if idFormation != "" %} data-formationId="{{ idFormation }}" {% else %} data-formationId="" {% endif %} style="width: 100%">
                                    <option selected="" value="0">Choisir un client de la liste</option>
                                    {% for client in clients %}
                                        <option value="{{ client.id }}">{{ client.name }} / {{ client.email }}</option>
                                    {% endfor %}
                                </select>
                                <div class="add-client-alert mt-2">
                                </div>
                            </div>
                            <div class="col-sm-3 offset-md-3 d-inline-flex list-btn">
                                <div class="mx-lg-2">
                                    <a href="{{path('app_customer_add',{ 'idFormation': idFormation })}}" title="Ajouter client à la formation"> <img src="/assets/img/icon/user-plus-solid.svg" width="40"></a>
                                </div>
                            </div>
                        </div>
                                <!-- Table of clients-->
                                <table class="table table-striped" id="tableClient" style="margin-top: 10px;">
                                    <thead>
                                    <tr>
                                        <th scope="col" style="background: #132438 ; color: #fff">Nom de client</th>
                                        <th scope="col" style="background: #132438 ; color: #fff">Email</th>
                                        <th style="background: #132438; color: #fff"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for client in formationClient %}
                                        <tr>
                                            <td>{{ client.name }}</td>
                                            <td>
                                                {{ client.email }}
                                            </td>
                                            <td class='td-action'>
                                                <a href="{{ path('app_customer_edit', { 'id':client.id, 'idFormation': idFormation }) }}" class="" title="modifier">
                                                    <img src="{{asset('assets/img/icon/pen-solid.svg')}}">
                                                </a>
                                                <a href='{{path('app_customer_formation_delete',{ 'idFormation': idFormation,'idCustomer': client.id})}}' class='first-btn' title='supprimer'><img src='/assets/img/icon/circle-delete-solid-red.svg'></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                    </div>
                </div>
            </div>

            <div class="tab-pane fade {% if courseName != "" and selectedClient|length > 0 %} active show  {% endif %}" id="stagiaires" role="tabpanel" aria-labelledby="tab-2">
                <div class="card">
                    {% if formation is defined %}
                        <div class="card">
                            <div class="card-body ps-0 pe-0">
                                <div class="ml-2 mr-2 m-lg-3">
                                    <div class="row mb-3">
                                        <div class="col-sm-6">
                                            <select class="js-example-basic-single selectTrainee" name="selectTrainee" data-formationId="{{ formation.id }}" data-url="{{path('app_affect_trainee')}}" style="width: 100%">
                                                <option selected="" value="0">Choisir un stagaire de la liste</option>
                                                {% for trainee in allTrainees %}
                                                    <option value="{{ trainee.id }}">{{ trainee.firstName }} {{ trainee.lastName }} / {{ trainee.email }}</option>
                                                {% endfor %}
                                            </select>
                                            <div class="add-stag-alert mt-2">
                                            </div>
                                        </div>
                                        <div class="col-sm-3 offset-md-3 d-inline-flex list-btn">
                                            <div class="mx-lg-2">
                                                <a href="{{path('app_add_trainee',{ 'formationId': formation.id })}}" title="Ajouter Stagiaire à la formation"> <img src="{{asset('assets/img/icon/user-plus-solid.svg')}}" width="40"></a>
                                            </div>
                                            <div class="custom-file-upload mx-lg-2">
                                                <form id="importFile" action="{{path('app_upload_trainee',{ 'idFormation':formation.id})}}" method="post" name="trainees" enctype="multipart/form-data">
                                                    <input type="file" id="html_btn" name= "fileTrainee" class="file-type" style="display: none">
                                                </form>
                                                <img src="{{asset('assets/img/icon/file-excel-solid.svg')}}" width="30" class="float-end new_Btn">
                                            </div>
                                            <div class="mx-lg-2 send-conv {% if trainees|length == 0 %} hidden {% endif %}">
                                                <a href="{{path('app_allTrainees_send_conv',{ 'idFormation':formation.id})}}" class="btn-save" title="Envoyer convocation à tous les stagiaires"> <img src="{{asset('assets/img/icon/paper-plane-solid.svg')}}" width="30"></a>
                                            </div>
                                            <div class="mx-lg-2">
                                                <a href="{{path('app_teacher_send_alert',{ 'idFormation': formation.id })}}" class="btn-save"
                                                   title="Rappel des informations clés"> <img src="{{asset('assets/img/icon/reply-all-solid.svg')}}" width="40"></a>
                                            </div>
                                            <div class="mx-lg-2">
                                                <a href="{{path('app_download_trainee_by_formation',{'idFormation': formation.id })}}" title="Télecharger stagiaires" class="float-end mt-4 mb-4" style="display: contents">
                                                    <img src="{{asset('assets/img/icon/file-arrow-down-solid.svg')}}" width="25" class="float-end">
                                                </a>
                                            </div>
                                            <div class="mx-lg-2 hidden">
                                                <a href="{{path('app_download_certif_attestation',{'idFormation': formation.id })}}" title="Télecharger Attestations et certificats" class="float-end mt-4 mb-4" style="display: contents">
                                                    <img src="{{asset('assets/img/icon/download-solid.svg')}}" width="25" class="float-end btn-save">
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row hidden">
                                        <div class="col-md-6"> <h5 class="card-title">
                                                {% if trainees|length == 1 %}
                                                    {{ trainees|length }} stagaire inscrit
                                                {% else%}
                                                    {{ trainees|length }} stagaires inscrits
                                                {% endif %}
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                                <table class="table table-striped" id="trainee-table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Prénom</th>
                                        <th scope="col">Fonction</th>
                                        <th scope="col">Email</th>
                                        <th>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for stg in trainees %}
                                        {% if stg is not null %}
                                            <tr {% if stg.sendConvocation == '1' %} class="success-send-mail" {% endif %}>
                                                <td>{{ stg.trainee.firstName }}</td>
                                                <td>{{ stg.trainee.lastName }}</td>
                                                <td>{{ stg.trainee.position }}</td>
                                                <td>{{ stg.trainee.email }}</td>
                                                <td class="td-action">
                                                    <a href="{{ path('app_trainee_see_attestation', { 'idFormation':formation.id, 'idTrainee': stg.trainee.id }) }}" class="first-btn" title="Voir attestation" class="" target="_blank">
                                                        Attestation
                                                    </a>
                                                    <a href="{{path('app_download_attestation_tr',{'idFormation': formation.id,'idTrainee': stg.trainee.id })}}" title="Télecharger Attestation" class="first-btn">
                                                        <img src="{{asset('assets/img/icon/download-solid.svg')}}" width="10">
                                                    </a>
                                                    <a href="{{ path('app_trainee_see_certif', { 'idFormation':formation.id, 'idTrainee': stg.trainee.id }) }}" class="first-btn" title="Voir Certificat" class="" target="_blank">
                                                        Certificat
                                                    </a>
                                                    <a href="{{path('app_download_certif_tr',{'idFormation': formation.id,'idTrainee': stg.trainee.id })}}" title="Télecharger Certificat" class="first-btn">
                                                        <img src="{{asset('assets/img/icon/download-solid.svg')}}" width="10">
                                                    </a>
                                                    <a href="" data-bs-toggle="modal" data-bs-target="#updateTime" class="first-btn updateNbhour" title="Nombre d'heure {{ stg.nbHour }}" data-nbHour="{{ stg.nbHour }}" data-add-time-url="{{path('app_update_time',{ 'id': stg.trainee.id, 'formationId' : idFormation })}}">
                                                        <img src="{{asset('assets/img/icon/clock-solid.svg')}}">
                                                    </a>
                                                    <a href="{{ path('app_edit_user_trainee', { 'id':stg.trainee.id, 'idFormation':formation.id }) }}" class="first-btn" title="modifier">
                                                        <img src="{{asset('assets/img/icon/pen-solid.svg')}}">
                                                    </a>
                                                    <a href="{{ path('app_trainee_send_conv', { 'idFormation':formation.id, 'idTrainee': stg.trainee.id }) }}" class="first-btn btn-save" title="Envoyer convocation" class="">
                                                        <img src="{{asset('assets/img/icon/envelope-solid.svg')}}">
                                                    </a>
                                                    <a href="{{ path('app_trainee_see_conv', { 'idFormation':formation.id, 'idTrainee': stg.trainee.id }) }}" class="first-btn" title="Voir convocation" class="" target="_blank">
                                                        <img src="{{asset('assets/img/icon/eye-solid.svg')}}">
                                                    </a>
                                                    <a href="{{ path('app_trainee_formation_delete', { 'idFormation':formation.id, 'idTrainee': stg.trainee.id }) }}" class="first-btn" title="supprimer">
                                                        <img src="{{asset('assets/img/icon/circle-delete-solid-red.svg')}}">
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="tab-3">
                <div class="card">
                    <div class="card-body">
                        {% if formInfo != '' %}
                            <div class="card">
                                <div class="card-body">
                                    {{ form_start(formInfo) }}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row mb-3">
                                                {{ form_row(formInfo.infoTrainees,
                                                    {'attr': {'class': 'form-control form-control-user tinymce-editor' }}
                                                ) }}
                                            </div>
                                            <div class="row mb-3">
                                                {{ form_row(formInfo.infoFormateur,
                                                    {'attr': {'class': 'form-control form-control-user tinymce-editor' }}
                                                ) }}
                                            </div>
                                            <div class="row mb-3">
                                                {{ form_row(formInfo.infoCustomer,
                                                    {'attr': {'class': 'form-control form-control-user tinymce-editor' }}
                                                ) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-auto me-auto">
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-primary">
                                                Enregistrer
                                            </button>
                                        </div>
                                    </div>
                                    {{ form_end(formInfo) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="evalchaud" role="tabpanel" aria-labelledby="tab-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-3">
                                            <label>Sujet de mail</label>
                                            <input type="text" class="form-control" name="subjectEvalChaud" id="subjectEvalChaud"  value="Evaluation à chaud commanditaire formation '{{ courseName }}'">
                                        </div>
                                        <div class="row mb-3">
                                            <label>Contenu de mail</label>
                                            <textarea class="" name="evaluationChaud" id="evaluationChaud">
                                                   Bonjour,
                                                    Nous avons réalisé l'action de formation « {{ courseName }} » pour votre compte,
                                                    et nous espérons qu'elle a répondu à vos attentes.
                                                    En votre qualité de commanditaire, nous vous serions très reconnaissants de prendre trois minutes
                                                    pour compléter ce questionnaire d'évaluation de la formation
                                                    Evaluation de la satisfaction des commanditaires de nos formations
                                                    Vos retours seront précieux dans le cadre de notre processus d'amélioration continue.
                                                    Nous vous remercions sincèrement et restons à votre écoute pour tout besoin complémentaire.

                                                    Bien cordialement
                                                </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto me-auto">
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-primary" id="submit-eval-chaud" data-url="{{path('app_send_eval_chaud')}}" {% if idFormation != "" %} data-formationId="{{ idFormation }}" {% else %} data-formationId="" {% endif %}>
                                            Envoyer Email
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="evalfroid" role="tabpanel" aria-labelledby="tab-5">
                <div class="card">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-3">
                                            <label>Sujet de mail</label>
                                            <input type="text" class="form-control" name="subjectEvalFroid" id="subjectEvalFroid" value="Evaluation à froid client '{{ courseName }}'">
                                        </div>
                                        <div class="row mb-3">
                                            <label>Contenu de mail</label>
                                            <textarea class="" name="evaluationFroid" id="evaluationFroid">
                                                Bonjour,
                                                Il y a quelques mois, nous avons eu le plaisir de réaliser pour votre compte la formation "{{ courseName }}" des 12 et 13/09/2022
                                                A présent, nous souhaiterions évaluer avec du recul le degré de réponse de cette prestation à vos attentes et vos besoins.
                                                Pour cela, nous vous serions reconnaissants de prendre trois minutes pour compléter ce questionnaire d'évaluation à froid :
                                                Evaluation à froid commanditaire
                                                Vos retours seront précieux dans le cadre de notre processus d'amélioration continue.
                                                Nous vous remercions sincèrement et restons à votre écoute pour tout besoin complémentaire.

                                                Bien cordialement,
                                             </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto me-auto">
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-primary" id="submit-eval-froid" data-url="{{path('app_send_eval_froid')}}" {% if idFormation != "" %} data-formationId="{{ idFormation }}" {% else %} data-formationId="" {% endif %}>
                                            Envoyer Email
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <div class="modal fade" id="updateTime" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Introduire le nombre d'heure </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="number" name="numberHour" id="nomberHourStudent" class="form-control" placeholder="Nombre d'heure de présence">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Annuler</button>
                    <button type="button" class="btn btn-primary updateNumberhour btn-save">Valider</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        jQuery(document).ready(function() {
            $('#formation_form_linkType label:first').addClass('hidden');
            $('#formation_form_linkType input:first').addClass('hidden');
            $('.checkboxLieu input[type="radio"]:checked').each(function (e){
                if(this.value == 'Distanciel') {
                    $('.lieuFormation').addClass('hidden');
                    $('.linkType').removeClass('hidden');
                } else if(this.value == 'Présentiel') {
                    $('.lieuFormation').removeClass('hidden');
                    $('.linkType').addClass('hidden');
                    $('.teacher').addClass('hidden');
                    $('.linkVirFormation').addClass('hidden');
                }else if(this.value == 'Mixte') {
                    $('.lieuFormation').removeClass('hidden');
                    $('.linkType').removeClass('hidden');
                }
            });
            $('.linkType input[type="radio"]:checked').each(function (e){
                if(this.value == "LienBBB") {
                    $('.teacher').removeClass('hidden');
                    $('.linkVirFormation').addClass('hidden');
                } else if (this.value == "Lienexterne") {
                    $('.teacher').addClass('hidden');
                    $('.linkVirFormation').removeClass('hidden');
                }
            });
            $('input[type="radio"]').on('change', function(e) {
                if(this.value == 'Distanciel') {
                    $('.lieuFormation').addClass('hidden');
                    $('.linkType').removeClass('hidden');
                } else if(this.value == 'Présentiel') {
                    $('.lieuFormation').removeClass('hidden');
                    $('.linkType').addClass('hidden');
                }else if(this.value == 'Mixte') {
                    $('.lieuFormation').removeClass('hidden');
                    $('.linkType').removeClass('hidden');
                }

                if(this.value == 'LienBBB') {
                    $('.teacher').removeClass('hidden');
                    $('.linkVirFormation').addClass('hidden');
                }
                if(this.value == 'Lienexterne') {
                    $('.teacher').addClass('hidden');
                    $('.linkVirFormation').removeClass('hidden');
                }
            });
            tinyMCE.init({
                height : "300",
                language: 'fr_FR',
                language_url : '/assets/vendor/tinymce/langs/fr_FR.js',
                menubar: false,
                branding: false,
                statusbar: false
            });
            tinymce.init({
                selector: 'textarea.addr-form',
                height : "150",
                language: 'fr_FR',
                language_url : '/assets/vendor/tinymce/langs/fr_FR.js',
                menubar: false,
                branding: false,
                statusbar: false
            });
            $('.js-datepicker').datepicker({
                format: 'dd/mm/yyyy',
                language: "fr",
                autoclose: true,
                orientation: "bottom left",
                minDate: new Date()
            });
            /*setTimeout(function(){
                $('.tox-menubar, .tox-promotion, .tox-statusbar').css('display','none');
            }, 1000);*/

            //hide statique link
            $('#formation_form_linkToProgram option').each(function (e){
                if(this.text.includes('##')) {
                    this.style.display = "none";
                } else {
                    this.style.display = "block";
                }
            });

            $('#formation_form_linkFormateur option').each(function (e){
                if(this.text.includes('##')) {
                    this.style.display = "none";
                } else {
                    this.style.display = "block";
                }
            });

            $('#formation_form_linkToLivretAccueil option').each(function (e){
                if(this.text.includes('lien statique')) {
                    this.style.display = "none";
                } else {
                    this.style.display = "block";
                }
            });
            $('#formation_form_linkGuide option').each(function (e){
                if(this.text.includes('lien statique')) {
                    this.style.display = "none";
                } else {
                    this.style.display = "block";
                }
            });

            $('#formation_form_linkFormulaire option').each(function (e){
                if(this.text.includes('lien statique')) {
                    this.style.display = "none";
                } else {
                    this.style.display = "block";
                }
            });

            $('#add-program').on('click', function (e) {
                e.preventDefault();
                $('#otherProgram').removeClass('hidden');
            })
            var linkPr =  $('#formation_form_linkToProgram :selected').text().split('##');
            if(linkPr.length === 2) {
                $('#add-program').trigger('click');
                document.getElementById("staticValueProgramm").value =linkPr[0];
                document.getElementById('formation_form_linkToProgram').value = ''
            }

            var linkFormator =  $('#formation_form_linkFormateur :selected').text().split('##');
            if(linkFormator.length === 2) {
                $('#otherLinkFormateur').removeClass('hidden');
                document.getElementById("inputOtherLinkFormateur").value =linkFormator[0];
                document.getElementById('formation_form_linkFormateur').value = ''
            }

            $('#add-linkFormateur').on('click', function (e) {
                e.preventDefault();
                $('#otherLinkFormateur').removeClass('hidden');
            })

            $('.js-example-basic-single').select2();
            $('.selectTrainee').on('change',function () {
                let selecedItem = $(".selectTrainee :selected").val()
                let addTrainee = $(this).attr('data-url');
                let formationId = $(this).attr('data-formationId');
                $('.add-stag-alert').html('')
                if(parseInt(selecedItem) !== 0) {
                    $.ajax({
                        url: addTrainee,
                        type: 'POST',
                        data: {'selecedItem': selecedItem, 'formationId': formationId},
                        success: function(data)
                        {
                            if(data !== false) {
                                let newData = JSON.parse(data);
                                if(newData && newData.status == true) {
                                    let deleteLink = '/courses/deleteTrainee/'+formationId+'/'+newData.id;
                                    let updateLInk = '/trainee/edit/'+newData.id+'/'+formationId;
                                    let sendMailLInk = '/courses/sendConvocation/'+formationId+'/'+newData.id;
                                    let seePdfLink = '/courses/seeConvocation/'+formationId+'/'+newData.id;
                                    $('#trainee-table').find('tbody').append("<tr><td>"+newData.firstName+"</td><td>"+newData.lastName+"</td><td>"+newData.position+"</td>" +
                                        "<td class='td-action'>  <a href='"+updateLInk+"' class='first-btn' title='modifier'>" +
                                        "<img src='/assets/img/icon/pen-solid.svg'></a>" +
                                        "<a href='"+sendMailLInk+"' class='first-btn' title='Envoyer convocation'>" +
                                        "<img src='/assets/img/icon/envelope-solid.svg'></a>"+
                                        "<a href='"+seePdfLink+"' class='first-btn' title='Voir convocation' target='_blank'>"+
                                        "<img src='/assets/img/icon/eye-solid.svg'></a>"+
                                        "<a href='"+ deleteLink+"' class='first-btn' title='supprimer'>" +
                                        "<img src='/assets/img/icon/circle-delete-solid-red.svg'></a></td></tr>");
                                    $('.send-conv').removeClass('hidden');
                                } else {
                                    //show alert exist already
                                    $('.add-stag-alert').append('<div class="alert alert-danger alert-dismissible fade show" role="alert"> ' +
                                        newData.message+
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> ' +
                                        '</div>');
                                }

                            }
                        }
                    });
                }

            })
            $('.new_Btn').click(function() {
                $('#html_btn').click();
            });
            $('#html_btn').change(function(){
                //submit the form here
                $('#importFile').submit();
            });
            $('#add-program').on('click', function (e) {
                e.preventDefault();
                $('#otherProgram').removeClass('hidden');
            })

            $('#formation_form_formateur option:selected').each(function (e){
                if ($(this).attr("data-link") !== undefined && $(this).attr("data-link").length > 0 ) {
                    $('#link-formator').text($(this).attr("data-link"));
                } else {
                    $('#link-formator').text('Aucun lien sélectionné');
                }
            });
            $('#formation_form_formateur').on('change',function (event) {
                var select = event.target;
                var selectedOption = select.options[select.selectedIndex];
                var name = selectedOption.getAttribute('data-link');
                if(name !== '') {
                    $('#link-formator').text(name);
                } else {
                    $('#link-formator').text('Aucun lien sélectionné');
                }

            });
            let tabClient = [];
            $('.selectClient').on('change',function () {
                let selecedItem = $(".selectClient :selected").val();
                console.log(selecedItem)
                //let addTrainee = $(this).attr('data-url');
                if(parseInt(selecedItem) !== 0) {
                    let addClient = $(this).attr('data-url');
                    let formationId = $(this).attr('data-formationId');
                    $.ajax({
                        url: addClient,
                        type: 'POST',
                        data: {'selectedItem': selecedItem, 'formationId': formationId},
                        success: function(data)
                        {
                            if(data !== false) {
                                let newData = JSON.parse(data);
                                if(newData && newData.status == true) {
                                    let deleteLink = '/courses/deleteCustomerFromFormation/'+formationId+'/'+newData.id;
                                    $('#tableClient').find('tbody').append("<tr><td>"+newData.name+"</td><td>"+newData.email+"</td>" +
                                        "<td class='td-action'>"+
                                        "<a href='"+ deleteLink+"' class='first-btn' title='supprimer'>" +
                                        "<img src='/assets/img/icon/circle-delete-solid-red.svg'></a></td></tr>");
                                } else {
                                    //show alert exist already
                                    $('.add-client-alert').append('<div class="alert alert-danger alert-dismissible fade show" role="alert"> ' +
                                        newData.message+
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> ' +
                                        '</div>');
                                }

                            }
                        }
                    });;
                }
            });
            $('#create-formation-interne').on('click', function () {
                //save client for the new formations
                let addCustomer = $(this).attr('data-url');
                let formationId = $(this).attr('data-formationId');
                var tabClientParam = [];
                let typeFormation = "intra";
                if(tabClient.length === 0) {
                    const checkboxes = document.querySelectorAll('.item-checkbox');

                    // Récupérer uniquement celles qui sont cochées
                    const checkedItems = Array.from(checkboxes)
                        .filter(checkbox => checkbox.checked)
                        .map(checkbox => checkbox.value); // Vous pouvez récupérer une autre propriété comme 'id' ou 'name'
                    tabClient = checkedItems;
                    typeFormation = "inter";
                }

                $.ajax({
                    url: addCustomer,
                    type: 'POST',
                    data: {'selectedItems': JSON.stringify(tabClient), 'formationId': formationId},
                    success: function(data)
                    {
                        if(data !== 'false') {
                            window.location.href = '/courses/courseManagement/'+typeFormation+'/'+data;
                        }
                    }
                });
            })
        });
        /*const datatable = document.getElementById('tableClient');
        new simpleDatatables.DataTable(datatable, {
            perPage: 5,
            sDom: 'Rfrtlip',
            dom: '<"top"f>rt<"bottom"ilp><"clear">'
        });*/
        $('.updateNbhour').on('click', function () {
            let updatetTimeURl = $(this).attr('data-add-time-url');
            $('.updateNumberhour').attr('data-updateNumberhour', updatetTimeURl);
            let nbHourForCurrentTR = $(this).attr('data-nbHour');
            $('#nomberHourStudent').val(nbHourForCurrentTR);
        });
        $(".updateNumberhour").click(function () {
            let updatetTimeURl = $(this).attr('data-updateNumberhour');
            let nbHour = parseInt($('#nomberHourStudent').val());
            $.ajax({
                url: updatetTimeURl,
                type: 'POST',
                data: {'nbHour':nbHour},
                success: function(data)
                {
                    let newData = JSON.parse(data);
                    if(newData) {
                        $('#updateTime').modal('hide');
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                    }
                    window.location.reload()
                },
                error: function(jqXHR){
                }
            });
        });
        tinymce.init({
            selector: '#evaluationChaud',
            plugins: 'lists link image', // Only add essential plugins
            toolbar: 'bold italic | alignleft aligncenter alignright | bullist numlist'
        });
        $('#submit-eval-chaud').on('click', function () {
            $('.loader-overlay').css('display','flex')
            let urlEvalChaud = $(this).attr('data-url');
            let formationId = $(this).attr('data-formationId');
            let subject = $('#subjectEvalChaud').val();
            // Get content from TinyMCE editor
            const content = tinymce.get('evaluationChaud').getContent();
            if(formationId) {
                $.ajax({
                    url: urlEvalChaud,
                    type: 'POST',
                    data: {'subject': subject,'text': content, 'formationId': formationId},
                    success: function(data)
                    {
                        $('.loader-overlay').css('display','none')
                        window.location.reload()
                    }
                });
            }
        })
        tinymce.init({
            selector: '#evaluationFroid',
            plugins: 'lists link image', // Only add essential plugins
            toolbar: 'bold italic | alignleft aligncenter alignright | bullist numlist'
        });
        $('#submit-eval-froid').on('click', function () {
            $('.loader-overlay').css('display','flex')
            let urlEvalFroid = $(this).attr('data-url');
            let formationId = $(this).attr('data-formationId');
            let subject = $('#subjectEvalFroid').val();
            const content = tinymce.get('evaluationFroid').getContent();
            if(formationId) {
                $.ajax({
                    url: urlEvalFroid,
                    type: 'POST',
                    data: {'subject': subject,'text': content, 'formationId': formationId},
                    success: function(data)
                    {  $('.loader-overlay').css('display','none')
                        window.location.reload()
                    }
                });
            }
        })
        $('.btn-save').on('click', function () {
            $('.loader-overlay').css('display', 'flex');
        });
    </script>
{% endblock %}
