{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}
        <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="remove-element-alert mt-2"></div>
                <div class="card">
                    <div class="card-body ps-0 pe-0">
                        <div class="row">
                            <div class="col-lg-9"></div>
                            <div class="col-md-3">
                               <!--- <a href="{{path('app_courses_add')}}" title="Ajouter une formation" class="float-end mt-4 mb-4 add-new">
                                    <img src="{{asset('assets/img/icon/circle-plus-solid-blue.svg')}}" width="40">
                                </a>-->
                            </div>
                        </div>
                        <!-- Table with stripped rows -->
                        <table class="table table-striped" id="list-formations">
                            <thead>
                            <tr>
                                <th scope="col">Client</th>
                                <th scope="col">Intitulé de la formation</th>
                                <th scope="col">Formateur</th>
                                <th scope="col">Date de début</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for course in courses %}
                            <tr>
                                <td>{% if course.company is defined and course.company is not null %} {{course.company.name}} {% else %} - {% endif %}</td>
                                <td>{{course.nomFormation}}</td>
                                <td>{% if course.formateur is defined and course.formateur is not null %} {{course.formateur.firstName}} {% else %} - {% endif %}</td>
                                <td>{{course.dateDebutFormation |date('d-m-Y')}}</td>
                                <td>
                                    <a href data-bs-toggle="modal" data-bs-target="#confirmationModal" class="first-btn deleteBtn" title="supprimer" data-remove-url="{{path('app_delete_formation',{ 'id': course.id })}}">
                                        <img src="{{asset('assets/img/icon/circle-delete-solid-red.svg')}}">
                                    </a>
                                    {% if course.company is defined and course.company is not null %}
                                        <a href="{{ path('app_courses_add', { 'idCompany':course.company.id,'idFormation': course.id }) }}" class="" title="modifier">
                                            <img src="{{asset('assets/img/icon/pen-solid.svg')}}">
                                        </a>
                                    {% else %}
                                        <a href="{{ path('app_courses_add', { 'idCompany':"",'idFormation': course.id }) }}" class="" title="modifier">
                                            <img src="{{asset('assets/img/icon/pen-solid.svg')}}">
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
     <script>
         const datatablesSimple = document.getElementById('list-formations');
         new simpleDatatables.DataTable(datatablesSimple, {
             perPage: 100
         });
     </script>
{% endblock %}
