{% extends 'base.html.twig' %}

{% block title %}Hello FormateurController!{% endblock %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-primary">Convocation formateur</h3>
        </div>
        <div class="card-body">
            <div class="col-lg-7 mx-auto">
                <div class="card mt-2 mx-auto p-4 bg-light">
                    <div class="card-body bg-light">
                        <div class="container">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="formateur_formateur" class="required">Sélectionnez un formateur</label>
                                            <select id="formateur_formateur" name="formateur[formateur]" class="form-control"
                                                    required="required" data-error="Veuillez choisir un formateur.">
                                                <option value="">{{ field_label(formationGenerate.formateur) }}</option>
                                                {% for label, value in field_choices(formationGenerate.formateur) %}
                                                    <option value="{{ value }}">{{ label }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="formateur_formation" class="required">Sélectionnez une formation</label>
                                            <select id="formateur_formation" name="formateur[formation]" class="form-control"
                                                    required="required" data-error="Veuillez choisir une formation.">
                                                <option value="">{{ field_label(formationGenerate.formation) }}</option>
                                                {% for label, value in field_choices(formationGenerate.formation) %}
                                                    <option value="{{ value }}">{{ label }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div> <!-- FIN ROW -->

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="formateur_message">{{ field_label(formationGenerate.message) }}</label>
                                            <textarea id="formateur_message" name="formateur[message]" class="form-control"
                                                      placeholder="Ecrivez votre message ici." rows="4"
                                                      required="required"
                                                      data-error="Veuillez écrire un message.">
                                                </textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" id="formateur_valider" name="formateur[valider]" class="btn btn-primary btn-send  pt-2 btn-block">{{ field_label(formationGenerate.valider) }}</button>
                                        <input type="hidden" id="formateur__token" name="formateur[_token]" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.8 -->
            </div>
        </div>
    </div>


{% endblock %}