{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-10"></div>
                            <div class="col-lg-2">
                                <a href="{{path('app_add_user')}}" title="Ajouter utilisateur" class="float-end mt-4 mb-4 add-new">
                                    <img src="{{asset('assets/img/icon/circle-plus-solid.svg')}}" width="40">
                                </a>
                            </div>
                        </div>

                        <!-- Table with stripped rows -->
                        <table class="table datatable table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Email</th>
                                <th scope="col">Télephone</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{user.firstName}}</td>
                                <td>{{user.lastName}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.phone}}</td>
                                <td class="text-center">
                                    <a href="" class="first-btn" title="supprimer">
                                        <img src="{{asset('assets/img/icon/circle-delete-solid.svg')}}">
                                    </a>
                                    <a href="{{path('app_edit_user',{ 'id': user.id })}}" class="" title="modifier">
                                        <img src="{{asset('assets/img/icon/pen-solid.svg')}}">
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
