{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Liste des Formateurs</h5>
                        <div class="row">
                            <div class="col-lg-10"></div>
                            <div class="col-lg-2"><a href="{{path('app_add_teacher')}}" type="button" class="btn btn-primary">Ajouter formateur</a></div>
                        </div>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Email</th>
                                <th scope="col">Télephone</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <th scope="row">{{user.id}}</th>
                                    <td>{{user.firstName}}</td>
                                    <td>{{user.lastName}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.phone}}</td>
                                    <td class="text-center">
                                        <a href="{{path('app_edit_user',{ 'id': user.id })}}" class="btn btn-outline-warning"> <i class="bi bi-pencil-square"></i></a>
                                        <a href="/" class="btn btn-outline-danger"> <i class="bi bi-trash-fill"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
